
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <style>
        .caps::first-letter {
            text-transform: capitalize;
        }

        .hide {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            var table1 = $("#table1").DataTable({
                paging: false,
                searching: false,
                info: false,
                order: false,
                buttons: [
                    {
                        extend: 'excel',
                        title: function () { var printTitle = 'Mượn trả - Thống kê Top 20'; return printTitle; }
                    },
                ],
            });
            var table2 = $("#table2").DataTable({
                paging: false,
                searching: false,
                info: false,
                order: false,
                buttons: [
                    {
                        extend: 'excel',
                        title: function () { var printTitle = 'Mượn trả - Thống kê Top 20'; return printTitle; }
                    },
                ],
            });
            if (document.getElementById("table2") != null) {
                var tbl2_th = document.getElementById("tbl2_th").innerHTML;
                var data = [
                    ["", ""],
                    [tbl2_th, "Số lượt mượn"],

                ];
                table1.rows.add(data).draw()
                    .nodes()
                    .to$()
                    .addClass('hide');
                table1.rows.add(table2.data().toArray()).draw()
                    .nodes()
                    .to$()
                    .addClass('hide');
            }

            $("#ExportReporttoExcel").on("click", function () {
                if (document.getElementById("table1") == null)
                    table2.button('.buttons-excel').trigger();
                else
                    table1.button('.buttons-excel').trigger();
            });
        });

    </script>
</head>
@if (ViewBag.LoanHisResult == null && ViewBag.OnLoanResult == null)
{
<h5 class="text-center" style="margin-top: 150px;">Không có dữ liệu thống kê theo @ViewBag.Category</h5>
}
else
{
    <div id="Main">
        @if (ViewBag.OnLoanResult != null)
        {
            <table align="center">
                <tr valign="top">
                    <td style="width: 35%;">
                        <div id="table_div1" style="margin-top: 150px;">
                            <h4 class="caps" id="stat1" style="margin-left:50px;">Thống kê theo ấn phẩm đang được mượn</h4><br />
                            <table id="table1" class="WordSection1 table-striped table-bordered" style="margin-left:50px; border: thin; text-align: center" border="1">
                                <thead>
                                    <tr>
                                        <th id="tbl1_th">@ViewBag.Category</th>
                                        <th>Số lượt mượn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.OnLoanResult)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Total</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="width: 65%;">
                        <div id="columnchart_values1" style="width: 900px; height: 700px;"></div>
                    </td>
                </tr>
            </table>
        }
        else
        {
            <h5 style="margin-left:50px;">Không có dữ liệu thống kê theo @ViewBag.Category</h5>
        }
        @if (ViewBag.LoanHisResult != null)
        {
            <table align="center">
                <tr valign="top">
                    <td style="width: 35%;">
                        <div id="table_div2" style="margin-top: 150px;">
                            <h4 id="stat2" class="caps" style="margin-left:50px;">Thống kê theo ấn phẩm đã được mượn</h4><br />
                            <table id="table2" class="WordSection1 table-striped table-bordered" style="margin-left:50px; border: thin; text-align: center" border="1">
                                <thead>
                                    <tr>
                                        <th id="tbl2_th">@ViewBag.Category</th>
                                        <th>Số lượt mượn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.LoanHisResult)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.Total</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="width: 65%;">
                        <div id="columnchart_values2" style="width: 900px; height: 700px;"></div>
                    </td>
                </tr>
            </table>
        }
        else
        {
            <h5 style="margin-left:50px;">Không có dữ liệu thống kê theo @ViewBag.Category</h5>
        }
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="button" id="ExportReporttoExcel" class="btn btn-primary">Lưu vào file excel</button>
        </div>
    </div>
}

<script type="text/javascript">

    google.charts.load("current", { packages: ['corechart'] });
    @if (ViewBag.OnLoanResult != null && ViewBag.OnLoanResult.Count >= 1)
    {
        <text>
    google.charts.setOnLoadCallback(drawChart1);

        </text>
    }
    @if (ViewBag.LoanHisResult != null && ViewBag.LoanHisResult.Count >= 1)
    {
        <text>
    google.charts.setOnLoadCallback(drawChart2);
        </text>
    }



    function drawChart1() {
        var table = document.getElementById("table1");
        var name = document.getElementById("tbl1_th").innerHTML;
        if (table.rows.length <= 1)
            return;
        var len = table.rows.length;
        var arr = [[name, "Số lượt mượn", { role: "style" }]];
        for (var i = 1; i < len; i++) {
            if (table.rows[i].classList.contains("hide")) continue;
            arr.push([table.rows[i].cells[0].innerHTML, parseInt(table.rows[i].cells[1].innerHTML), "aquamarine1"]);
        }
        var data = google.visualization.arrayToDataTable(arr);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);

        var options = {
            title: "",
            bar: { groupWidth: "50%" },
            legend: { position: "none" },
            hAxis: {
                title: name,
            },
            vAxis: {
                title: 'Số lượt mượn',
            }

        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values1"));
        chart.draw(view, options);
    }

    function drawChart2() {
        var table = document.getElementById("table2");
        var name = document.getElementById("tbl2_th").innerHTML;
        if (table.rows.length <= 1)
            return;
        var len = table.rows.length;
        var arr = [[name, "Số lượt mượn",  { role: "style" }]];
        for (var i = 1; i < len; i++) {
            if (table.rows[i].classList.contains("hide")) continue;
            arr.push([table.rows[i].cells[0].innerHTML, parseInt(table.rows[i].cells[1].innerHTML), "aquamarine1"]);
        }
        var data = google.visualization.arrayToDataTable(arr);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);

        var options = {
            title: "",
            bar: { groupWidth: "50%" },
            legend: { position: "none" },
            hAxis: {
                title: name,
            },
            vAxis: {
                title: 'Số lượt mượn',
            }

        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values2"));
        chart.draw(view, options);
        }
</script>

