
@{
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <style>
        .caps::first-letter {
            text-transform: capitalize;
        }

        .hide {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            var len = @ViewBag.UsingResult.Count + 3;
            var table1 = $("#table1").DataTable({
                paging: false,
                searching: false,
                info: false,
                order: false,
                buttons: [{
                    extend: 'excelHtml5',
                    title: function () { var printTitle = 'Mượn trả - Báo cáo hàng tháng'; return printTitle; },
                    customize: function (xlsx) {
                        var sheet = xlsx.xl.worksheets['sheet1.xml'];
                        // make bold-text in row which has index is len
                        $('row:eq('+len+') c', sheet).attr('s', '2');
                    }
                }],
            });
            var table2 = $("#table2").DataTable({
                paging: false,
                searching: false,
                info: false,
                order: false,
                buttons: [{
                    extend: 'excelHtml5',
                    title: function () { var printTitle = 'Mượn trả - Báo cáo hàng tháng'; return printTitle; }
                }],
            });
            var tbl2_th = document.getElementById("tbl2_th").innerHTML;
            var data_tbl2 = [
                ["", ""],
                ["Tháng", tbl2_th],

            ];
            table1.rows.add(data_tbl2).draw()
                .nodes()
                .to$()
                .addClass('hide');
            table1.rows.add(table2.data().toArray()).draw()
                .nodes()
                .to$()
                .addClass('hide');

            //tableToExport.rows.add(table2.data().toArray()).draw();
            //console.log(tableToExport.data());
            $("#ExportReporttoExcel").on("click", function () {
                if (document.getElementById("table1") == null)
                    table2.button('.buttons-excel').trigger();
                else
                    table1.button('.buttons-excel').trigger();
            });
        });
        /**/</script>
</head>
@{
    int sum1 = 0;
    int sum2 = 0;
}
@if (ViewBag.UsingResult.Count < 1 && ViewBag.UsedResult.Count < 1)
{
    <h5 class="text-center" style="margin-top: 150px;">Không có dữ liệu</h5>
}
else
{
    <div id="Main">
        @if (ViewBag.UsingResult.Count >= 1)
        {
            <table align="center">
                <tr valign="top">
                    <td style="width: 35%;">
                        <div id="table_div1" style="margin-top: 150px;">
                            <h4 class="caps" id="stat1" style="margin-left:50px;">@ViewBag.TypeName đang mượn</h4><br />
                            <table id="table1" class="WordSection1 table-striped table-bordered" style="margin-left:50px; border: thin;" border="1">
                                <thead>
                                    <tr>
                                        @*<th style="text-align:center">Năm</th>*@
                                        <th style="text-align:center">Tháng</th>
                                        <th style="text-align:center">Số @ViewBag.TypeName đang mượn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.UsingResult)
                                    {
                                        <tr>
                                            <td style="text-align:center">@item.MONTH-@item.YEAR</td>
                                            <td style="text-align:center">@item.TotalLoan</td>
                                        </tr>
                                        sum1 += item.TotalLoan;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="width: 65%;">
                        <div id="columnchart_values1" style="width: 900px; height: 700px;"></div>
                    </td>
                </tr>
            </table>
        }
        else
        {
            <h5 style="margin-left:50px;">Không có dữ liệu cuả @ViewBag.TypeName đang mượn</h5>
        }
        @if (ViewBag.UsedResult.Count >= 1)
        {
            <table align="center">
                <tr valign="top">
                    <td style="width: 35%;">
                        <div id="table_div2" style="margin-top: 150px;">
                            <h4 id="stat2" class="caps" style="margin-left:50px;">@ViewBag.TypeName từng mượn</h4><br />
                            <table id="table2" class="WordSection1 table-striped table-bordered" style="margin-left:50px; border: thin;" border="1">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Tháng</th>
                                        <th id="tbl2_th" style="text-align:center">Số @ViewBag.TypeName đã mượn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.UsedResult)
                                    {
                                        <tr>
                                            <td style="text-align:center">@item.MONTH-@item.YEAR</td>
                                            <td style="text-align:center">@item.TotalLoan</td>
                                        </tr>
                                        sum2 += item.TotalLoan;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="width: 65%;">
                        <div id="columnchart_values2" style="width: 900px; height: 700px;"></div>
                    </td>
                </tr>
            </table>
        }
        else
        {
            <h5 style="margin-left:50px;">Không có dữ liệu cuả @ViewBag.TypeName từng mượn</h5>
        }
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="button" id="ExportReporttoExcel" class="btn btn-primary">Lưu vào file excel</button>
        </div>
    </div>
}
<script type="text/javascript">

    google.charts.load("current", { packages: ['corechart'] });

    google.charts.setOnLoadCallback(drawChart2);
    @if (ViewBag.UsingResult.Count >= 1)
    {
        <text>
    google.charts.setOnLoadCallback(drawChart1);
    document.getElementById("stat1").innerHTML += ": " + @sum1;

        </text>
    }
    @if (ViewBag.UsedResult.Count >= 1)
    {
        <text>
    google.charts.setOnLoadCallback(drawChart2);
    document.getElementById("stat2").innerHTML += ": " + @sum2;
        </text>
    }

    function drawChart1() {
        var table = document.getElementById("table1");
        if (table == null)
            return;
        var len = table.rows.length;
        var arr = [["Tháng", "Số lượt mượn", { role: "style" }]];
        for (var i = 1; i < len; i++) {
            if (table.rows[i].classList.contains("hide")) continue;
            var year = table.rows[i].cells[0];
            arr.push([year.innerHTML, parseInt(table.rows[i].cells[1].innerHTML), "aquamarine1"]);
        }
        var data = google.visualization.arrayToDataTable(arr);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);

        var options = {
            title: "",
            bar: { groupWidth: "50%" },
            legend: { position: "none" },
            hAxis: {
                title: 'Tháng',
            },
            vAxis: {
                title: 'Số lượt mượn',
            }

        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values1"));
        chart.draw(view, options);
    }

    function drawChart2() {
        var table = document.getElementById("table2");
        if (table == null)
            return;
        var len = table.rows.length;
        var arr = [["Tháng", "Số lượt mượn", { role: "style" }]];
        for (var i = 1; i < len; i++) {
            var month = table.rows[i].cells[0]
            arr.push([month.innerHTML, parseInt(table.rows[i].cells[1].innerHTML), "aquamarine1"]);
        }
        var data = google.visualization.arrayToDataTable(arr);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);

        var options = {
            title: "",
            bar: { groupWidth: "50%" },
            legend: { position: "none" },
            hAxis: {
                title: 'Tháng',
            },
            vAxis: {
                title: 'Số lượt mượn',
            }

        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values2"));
        chart.draw(view, options);
        }

</script>