
@{
    ViewBag.Title = "Chính sách";
}

<head>
    <style>
        textarea {
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            resize: none;
            -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
            -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
        }

        table, th, td {
            position: relative;
        }

        label {
            text-align: right;
        }

        .form-control {
            font-size: 0.8rem !important;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/Select-1.3.0/css/select.bootstrap4.css">
    <script type="text/javascript" charset="utf8" src="~/Content/DataTables/Select-1.3.0/js/dataTables.select.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script>
        var table;

        $(document).ready(function () {
            table = $('#table').DataTable({
                "processing": true,
                "serverSide": true,
                "searching": false,


                ajax: {
                    url: "/Circulation/GetLockPatron",
                    type: 'POST',
                    "data": function (d) {
                        d.libraryID = document.getElementById("iddd").value,
                            d.PatronCode = document.getElementById("PatronCodeFilter").value,
                            d.Note = document.getElementById("NoteFilter").value,
                            d.StartedDate = document.getElementById("LockDateFromFilter").value,
                            d.FinishDate = document.getElementById("LockDateToFilter").value
                    }
                },
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 6
                }
                ],
                select: "multi",
                "lengthMenu": [[10, 25, 50, 100, 1000], [10, 25, 50, 100, 1000]],
                columns: [
                    { "data": "FullName" },
                    { "data": "PatronCode" },
                    { "data": "StartedDate" },
                    { "data": "FinishDate" },
                    { "data": "LockedDays" },
                    { "data": "Note" },
                    {
                        "data": null,
                        "defaultContent": "",
                    },
                    {
                        "render": function (data, type, full, meta) {
                            return '<button class="btn btn-info" type="button"  onclick="ShowUpdateForm(' + "'"
                                + full.PatronCode + "'," +
                                "'" + full.FullName + "'," +
                                "'" + full.StartedDate + "'," +
                                "'" + full.FinishDate + "'," +
                                "'" + full.LockedDays + "'," +
                                "'" + full.Note
                                + "'" + ')">Sửa</button>';
                        }
                    },
                ],

                buttons: [
                    {
                        extend: 'print',
                        title: function () { var printTitle = 'Danh sách bạn đọc bị khóa'; return printTitle; },
                        action: newExportAction,
                        exportOptions: {
                            columns: 'th:not(.notexport)'
                        }
                    },
                    {
                        extend: 'excel',
                        action: newExportAction,
                        exportOptions: {
                            columns: 'th:not(.notexport)'
                        }
                    },
                    'csv',
                    'pdf',
                    'colvis'
                ],

                order: false,
            });

            $('#table').on('click', '#select_all', function () {
                if ($('#select_all:checked').val() === 'on') {
                    table.rows({ search: 'applied' }).select();
                }
                else {
                    table.rows().deselect();
                }
            });

            $("#ExportReporttoExcel").on("click", function () {
                table.button('.buttons-excel').trigger();
            });

            $("#Print").on("click", function () {
                table.button('.buttons-print').trigger();
            });

            document.getElementById("LibraryFilter").value = document.getElementById("iddd").value
        });

        var oldExportAction = function (self, e, dt, button, config) {
            if (button[0].className.indexOf('buttons-excel') >= 0) {
                if ($.fn.dataTable.ext.buttons.excelHtml5.available(dt, config)) {
                    $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config);
                }
                else {
                    $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
                }
            } else if (button[0].className.indexOf('buttons-print') >= 0) {
                $.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
            }
        };

        var newExportAction = function (e, dt, button, config) {
            var self = this;
            var oldStart = dt.settings()[0]._iDisplayStart;
            dt.one('preXhr', function (e, s, data) {
                data.start = 0;
                data.length = 2147483647;
                dt.one('preDraw', function (e, settings) {
                    oldExportAction(self, e, dt, button, config);

                    dt.one('preXhr', function (e, s, data) {
                        settings._iDisplayStart = oldStart;
                        data.start = oldStart;
                    });
                    setTimeout(dt.ajax.reload, 0);
                    return false;
                });
            });
            dt.ajax.reload();
        };

        function LockCard() {
            var cardNumber = document.getElementById("PatronCode").value;
            var startDate = document.getElementById("StartedDate").value;
            var lockDays = document.getElementById("LockedDays").value;
            var note = document.getElementById("Note").value;

            $.ajax({
                url: "/Circulation/LockCardPatron",
                data: JSON.stringify({ cardNumber: cardNumber, startDate: startDate, lockDays: lockDays, note: note }),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result != "") {
                        //alert(result);
                        $.alert({
                            title: 'Thông Báo !',
                            content: result,
                        });
                    }
                    $('#table').DataTable().ajax.reload(null, false);
                },
                error: function () {
                }

            });

        }
        function UnLockCardPatron() {

            var data = $('#table').DataTable().rows('.selected').data();
            var patroncodeList = new Array();
            for (var i = 0; i < data.length; i++) {
                patroncodeList.push(data[i]["PatronCode"]);
            }
            debugger;
            $.ajax({
                url: "/Circulation/UnLockCardPatron",
                data: JSON.stringify({ patroncodeList }),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function () {
                    alert('Bạn đã mở khóa thẻ thành công');
                    $('#table').DataTable().ajax.reload(null, false);
                },
                error: function () {
                    alert('Mở khóa thẻ không thành công');
                }

            });

        }
        var PatronCode_Update;
        var FullName_Update;
        var StartedDate_Update;
        var FinishDate_Update;
        var LockedDays_Update;
        var Note_Update;

        function ShowUpdateForm(PatronCode,
            FullName,
            StartedDate,
            FinishDate,
            LockedDays,
            Note
        ) {

            PatronCode_Update = PatronCode;
            FullName_Update = FullName;
            StartedDate_Update = StartedDate;
            FinishDate_Update = FinishDate;
            LockedDays_Update = LockedDays;
            Note_Update = Note;

            document.getElementById("txtFullName").value = FullName;
            document.getElementById("txtPatronCode").value = PatronCode;
            document.getElementById("txtStartdate").value = StartedDate;
            document.getElementById("txtFinishdate").value = FinishDate;
            document.getElementById("txtLockedDay").value = LockedDays;
            document.getElementById("txtNote").value = Note;

            document.getElementById("myModal").style.display = "block";
        }

        function CancelUpdate() {
            document.getElementById("myModal").style.display = "none";
        }
        function Save() {
            var patronCode = document.getElementById("txtPatronCode").value;
            var lockDays = document.getElementById("txtLockedDay").value;
            var note = document.getElementById("txtNote").value;
            $.ajax({
                url: "/Circulation/UpdatedLockCardPatron",
                data: JSON.stringify({ patronCode: patronCode, lockDays: lockDays, note: note }),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function () {
                    alert('Bạn đã Update trạng thái khóa thẻ thành công');
                    $('#table').DataTable().ajax.reload(null, false);
                },
                error: function () {
                    alert('Update trạng thái khóa thẻ không thành công');
                }

            });
        }



    </script>
</head>
@using (Html.BeginForm())
{

    <h5><label style="margin-top:10px; text-align: right; color: red">Thông tin thẻ bạn đọc bị khóa</label></h5>
    <div class="row">
        <div class="col-6">
            <div class="form-group row col-12">
                <label class="control-label col-md-6 align-self-center">Số thẻ : </label>
                <input type="text" class="form-control col-md-3" id="PatronCode">
            </div>
            <div class="form-group row col-12">
                <label class="control-label col-md-6 align-self-center">Ngày bắt đầu : </label>
                <input class="form-control col-md-3 " type="date" id="StartedDate" value="@string.Format("{0:yyyy-MM-dd}", System.DateTime.Now)" />          </div>
            <div class="form-group row col-12">
                <label class="control-label col-md-6 align-self-center">Số ngày : </label>
                <input type="number" class="form-control col-md-2" id="LockedDays" value="2000">

            </div>
        </div>
        <div class="col-6">
            <div class="form-group row col-12">
                <label class="control-label col-md-2 align-self-center">Ghi chú : </label>
                <textarea type="text" class="form-control col-md-4" id="Note"></textarea>
            </div>
            <div class="form-group row col-3">
                <div style="margin : auto">
                    <button type="button" class="btn btn-primary form-control float-left" onclick='LockCard()'>Khóa thẻ</button>
                </div>
            </div>
        </div>
    </div>
    <h5><label style="margin-top:10px; text-align: right ; color: blue">Danh sách những thẻ bị khóa</label></h5>
    <div id="Main">
        <div class="form-row">
            <div class="form-group col-sm">
                <label for="LibraryFilter">Thư viện trường</label>
                <select class="form-control" id="LibraryFilter" name="LibraryFilter" value="@Request.Form["LibraryFilter"]">
                    <option value="-1"> ----- Chọn ----- </option>
                    @foreach (var item in ViewBag.Library)
                    {
                        <option value="@item.ID">@item.Code</option>
                    }
                </select>

            </div>
            <div class="form-group col-sm">
                <label for="PatronCodeFilter">Thẻ bạn đọc</label>
                <input type="text" class="form-control" id="PatronCodeFilter" name="PatronCodeFilter" value="@Request.Form["PatronCodeFilter"]">
            </div>
            <div class="form-group col-sm">
                <label for="NoteFilter">Lý do</label>
                <input type="text" class="form-control" id="NoteFilter" name="NoteFilter" value="@Request.Form["NoteFilter"]">
            </div>
            <div class="form-group col-sm">
                <label for="LockDateFromFilter">Thời gian khóa Từ</label>
                <input type="date" class="form-control" id="LockDateFromFilter" name="LockDateFromFilter" value="@Request.Form["LockDateFromFilter"]">
            </div>
            <div class="form-group col-sm">
                <label for="LockDateToFilter">Đến</label>
                <input type="date" class="form-control" id="LockDateToFilter" name="LockDateToFilter" value="@Request.Form["LockDateToFilter"]">
            </div>
        </div>
        <button id="Find" type="submit" class="btn btn-primary">Lọc</button>

        <div id="ContentStatLockPatron">
            <table id="table" class="table table-striped table-bordered datatables" style="border-collapse: collapse;" border="1">
                <thead>
                    <tr>
                        <th>Họ và tên bạn đọc</th>
                        <th>Số thẻ bạn đọc</th>
                        <th>Từ ngày</th>
                        <th>Đến ngày</th>
                        <th>Số ngày</th>
                        <th>Lý do</th>
                        <th style="text-align: center;" class="notexport"><input type="checkbox" id="select_all" /></th>
                        <th class="notexport">Sửa</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>
            <div class="col-1">
                <button type="button" class="btn btn-primary form-control float-left" onclick="UnLockCardPatron()">Xóa</button>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="btn-group btn-group">
                        <button type="button" id="ExportReporttoExcel" class="btn btn-primary">Lưu vào file excel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal" id="myModal">
        <div class="modal-dialog" style="max-width: 550px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sửa thông tin thẻ bị khóa</h4>
                    <button type="button" class="close" onclick="CancelUpdate()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group ">
                        <label for="txtFullName">Họ và tên:</label>
                        <input type="text" class="form-control" id="txtFullName" disabled>
                    </div>
                    <div class="form-group ">
                        <label for="txtPatronCode">Số thẻ bạn đọc:</label>
                        <input type="text" class="form-control" id="txtPatronCode" disabled>
                    </div>
                    <div class="form-group ">
                        <label for="txtStartdate">Từ ngày:</label>
                        <input type="text" class="form-control" id="txtStartdate" disabled>
                    </div>
                    <div class="form-group ">
                        <label for="txtFinishdate">Đến ngày:</label>
                        <input type="text" class="form-control" id="txtFinishdate" disabled>
                    </div>
                    <div class="form-group ">
                        <label for="txtLockedDay">Số ngày:</label>
                        <input type="number" class="form-control" id="txtLockedDay">
                    </div>
                    <div class="form-group ">
                        <label for="txtNote">Lý do: </label>
                        <input type="text" class="form-control" id="txtNote">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success " style="float: right;margin-left:15px; " onclick="Save()">Lưu</button>
                    <button type="button" class="btn btn-danger" style="float: right" onclick="CancelUpdate()">Hủy bỏ</button>
                </div>
            </div>
        </div>
    </div>
}

<input type="hidden" value="@ViewBag.iddd" id="iddd" />
