
@{
    ViewBag.Title = "ReportOnLoanCopy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ThongKeAnPhamDangDuocMuon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
</head>
<body>
    <h4 style="padding-left:10px;margin-top:20px;">Thống kê ấn phẩm đang được mượn</h4>
    <div class="row">
        <div class="col">
            <div class="form-group row col">
                <label class="control-label col-md-4 align-self-center">Thư viện</label>
                @Html.DropDownList("Library", ViewData["lib"] as List<SelectListItem>, new { @class = "form-control col-md-8" })
            </div>
            <div class="form-group row col">
                <label class="control-label col-md-4 align-self-center">Kho</label>
                @Html.DropDownList("LocationPrefix", new SelectList(string.Empty, "Value", "Text"), "Chọn Kho", new { @class = "form-control col-md-8" })
            </div>
            <div class="form-group row col">
                <label class="control-label col-md-4 align-self-center">Lĩnh vực kho</label>
                @Html.DropDownList("LocationsByPrefix", new SelectList(string.Empty, "Value", "Text"), "Chọn lĩnh vực", new { @class = "form-control col-md-8" , @multiple = true })
            </div>
        </div>
        <div class="col">
            <div class="form-group row">
                <label class="control-label col-md-4 align-self-center">Số thẻ</label>
                <input type="text" class="form-control col-md-6" id="PatronNumber" name="PatronNumber">
            </div>
            <div class="form-group row">
                <label class="control-label col-md-4 align-self-center">Mã tài liệu</label>
                <input type="text" class="form-control col-md-6" id="ItemCode" name="ItemCode">
            </div>
            <div class="form-group row">
                <label class="control-label col-md-4 align-self-center">Đăng ký cá biệt</label>
                <input type="text" class="form-control col-md-6" id="CopyNumber" name="CopyNumber">
            </div>
        </div>
        <div class="col-3">
            <div class="form-group row">
                <label class="control-label col-md-5 align-self-center">Mượn từ ngày</label>
                <input class="form-control col-md-7" type="date" id="CheckOutDateFrom" name="CheckOutDateFrom" />
            </div>
            <div class="form-group row">
                <label class="control-label col-md-5 align-self-center">Trả từ ngày</label>
                <input class="form-control col-md-7" type="date" id="CheckInDateFrom" name="CheckInDateFrom" />
            </div>
        </div>
        <div class="col">
            <div class="form-group row col">
                <label class="control-label col-md-4 align-self-center">Tới</label>
                <input class="form-control col-md-8" type="date" id="CheckOutDateTo" name="CheckOutDateTo" />
            </div>
            <div class="form-group row col">
                <label class="control-label col-md-4 align-self-center">Tới</label>
                <input class="form-control col-md-8" type="date" id="CheckInDateTo" name="CheckInDateTo" />
            </div>
        </div>
    </div>

    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="Filter">
        <label class="custom-control-label" for="Filter">Lọc dữ liệu đã được gia hạn</label>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group btn-group">
                <button type="submit" id="find" class="btn btn-primary mr-1">Xem thử</button>
                <button type="button" id="reset" class="btn btn-primary" onclick="reset()">Đặt lại</button>
            </div>
        </div>
    </div>
    <div id="ContentStatOnLoan"></div>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Library").change(function () {
            $("#LocationPrefix").empty();
            $("#LocationsByPrefix").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetLocationsPrefix")', // we are calling json method
                dataType: 'json',
                data: { id: $("#Library").val() },
                success: function (locs) {
                    $.each(locs, function (i, loc) {
                        $("#LocationPrefix").append('<option value="' + loc.Value + '">' +
                            loc.Text + '</option>');
                    });
                }
            });
            return false;
        });
        $("#LocationPrefix").change(function () {
            $("#LocationsByPrefix").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetLocationsByPrefix")', // we are calling json method
                dataType: 'json',
                data: { id: $("#Library").val(), prefix: $("#LocationPrefix").val() },
                success: function (locs) {
                    $.each(locs, function (i, loc) {
                        $("#LocationsByPrefix").append('<option value="' + loc.Value + '">' +
                            loc.Text + '</option>');
                    });
                }
            });
            return false;
        });
    });
    document.getElementById("find").onclick = function () {
        var empObj = {
            strLibID: document.getElementById("Library").value,
            strLocPrefix: document.getElementById("LocationPrefix").value,
            //strLocID: document.getElementById("LocationsByPrefix").value,
            strLocID: $("#LocationsByPrefix").val().toString(),
            strPatronNumber: document.getElementById("PatronNumber").value,
            strItemCode: document.getElementById("ItemCode").value,
            strCopyNumber: document.getElementById("CopyNumber").value,
            strCheckInDateFrom: document.getElementById("CheckInDateFrom").value,
            strCheckInDateTo: document.getElementById("CheckInDateTo").value,
            strCheckOutDateFrom: document.getElementById("CheckOutDateFrom").value,
            strCheckOutDateTo: document.getElementById("CheckOutDateTo").value,
        };
        if (document.getElementById("CheckInDateFrom").value != "" && document.getElementById("CheckInDateTo").value != "" && document.getElementById("CheckInDateFrom").value > document.getElementById("CheckInDateTo").value) {
            alert("Khoảng thời gian TRẢ không hợp lệ!");
        } else if (document.getElementById("CheckOutDateFrom").value != "" && document.getElementById("CheckOutDateTo").value != "" && document.getElementById("CheckOutDateFrom").value > document.getElementById("CheckOutDateTo").value) {
            alert("Khoảng thời gian MƯỢN không hợp lệ!");
        }
        else if (document.getElementById("Library").value == "") {
            alert("Bạn cần chọn thư viện!");
        }
        else {
            if (document.getElementById("Filter").checked) {
                $.ajax({
                    url: "GetFilteredOnLoanStats",
                    data: JSON.stringify(empObj),
                    contentType: "application/json;charset=utf-8",
                    type: "POST",
                    beforeSend: function () {
                        $("#ContentStatOnLoan").html("<h4>Loading...</h4>");
                    },
                    success: function (result) {
                        $("#ContentStatOnLoan").html(result)
                    },
                    error: function (errormessage) {
                        console.log("error");
                    }
                });
            }
            else {
                $.ajax({
                    url: "GetOnLoanStats",
                    data: JSON.stringify(empObj),
                    contentType: "application/json;charset=utf-8",
                    type: "POST",
                    beforeSend: function () {
                        $("#ContentStatOnLoan").html("<h4>Loading...</h4>");
                    },
                    success: function (result) {
                        $("#ContentStatOnLoan").html(result)
                    },
                    error: function (errormessage) {
                        console.log("error");
                    }
                });
            }
        }
    };
</script>
<script>
    $(window).bind("pageshow", function () {
        $("#Library").val('');
    });
    function reset() {
        $("#Library").val('');
        $("#LocationPrefix").empty();
        $("#LocationsByPrefix").empty();
        $("#CopyNumber").val('');
        $("#ItemCode").val('');
        $("#PatronNumber").val('');
        $("#CheckOutDateFrom").val('');
        $("#CheckOutDateTo").val('');
        $("#CheckInDateFrom").val('');
        $("#CheckInDateTo").val('');
    }
</script>