
@{
    ViewBag.Title = "StatisticAnnual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/load.js"></script>
</head>

<h5 style="margin-top:20px;">Thông tin ấn phẩm đã được mượn theo từng năm</h5>
<table class="table">
    <thead>
        <tr></tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td class="text-right">Thư viện</td>
            <td>
                @Html.DropDownList("Library", ViewData["lib"] as List<SelectListItem>)
            </td>
            <td class="text-right">Kho</td>
            <td>
                @Html.DropDownList("Location", new SelectList(string.Empty, "Value", "Text"), "Hãy chọn Kho")
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="text-right">Từ năm</td>
            <td>
                @*@Html.DropDownList("FromYear", ViewData["year"] as List<SelectListItem>)*@
                @Html.DropDownList("FromYear", new SelectList(Enumerable.Range(2007, (DateTime.Now.Year - 2007) + 1).ToList()), "-- Hãy chọn năm --")
            </td>
            <td class="text-right">Tới năm</td>
            <td>
                @*@Html.DropDownList("ToYear", ViewData["year"] as List<SelectListItem>)*@
                @Html.DropDownList("ToYear", new SelectList(Enumerable.Range(2007, (DateTime.Now.Year - 2007) + 1).ToList()), "-- Hãy chọn năm --")
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
<div class="btn-group d-xl-flex justify-content-xl-center" role="group">
    <label style="margin-right:20px;"> <input type="radio" name="Type" value="1" checked /> Theo đầu ấn phẩm </label>
    <label style="margin-right:20px;"> <input type="radio" name="Type" value="2" /> Theo bản ấn phẩm </label>
    <label> <input type="radio" name="Type" value="3" /> Theo bạn đọc </label>
</div>
<div class="btn-group d-xl-flex justify-content-xl-center" role="group">
    <button id="stat" type="submit" style="margin-right:20px;">Thống kê</button>
    <button id="back" type="submit" style="margin-right:20px;">Quay lại</button>
</div>

<div id="ContentStatYear"></div>
<script>
    document.getElementById("stat").onclick = function () {
        var empObj = {
            strLibID: document.getElementById("Library").value,
            strLocID: document.getElementById("Location").value,
            strFromYear: document.getElementById("FromYear").value,
            strToYear: document.getElementById("ToYear").value,
            strType: $("input:radio[name=Type]:checked").val(),
        };
        $.ajax({
            url: "GetYearStats",
            data: JSON.stringify(empObj),
            contentType: "application/json;charset=utf-8",
            type: "POST",
            beforeSend: function () {
                $("#ContentStatYear").html("<h4>Loading...</h4>");
            },
            success: function (result) {
                $("#ContentStatYear").html(result)
            },
            error: function (errormessage) {
                console.log("error");
            }
        });
    };
    document.getElementById("back").onclick = function () {
        window.location.href = "Index";
    };
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Library").change(function () {
            $("#Location").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetLocations")', // we are calling json method
                dataType: 'json',
                data: { id: $("#Library").val() },
                success: function (locs) {
                    $.each(locs, function (i, loc) {
                        $("#Location").append('<option value="' + loc.Value + '">' +
                            loc.Text + '</option>');
                    });
                }
                //error: function (ex) {
                //    alert('Failed to retrieve states.' + ex);
                //}
            });
            return false;
        });
    });
</script>
