
@{
    ViewBag.Title = "StatisticTopPatron";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        label {
            text-align: right;
        }
    </style>
</head>

<body>
    <h4 style="padding-left:10px;margin-top:20px;">Thống kê số lần mượn theo bạn đọc</h4>
    <div class="row center-block">
        <div class="col-3">
            <div class="form-group row col">
                <label class="control-label col-md-4 align-self-center">Thư viện</label>
                @Html.DropDownList("Library", ViewData["lib"] as List<SelectListItem>, new { @class = "form-control col-md-8" })
            </div>
            <div class="form-group row col">
                <label class="control-label col-md-4 align-self-center">Kho</label>
                @Html.DropDownList("LocationPrefix", new SelectList(string.Empty, "Value", "Text"), "Chọn Kho", new { @class = "form-control col-md-8" })
            </div>
            <div class="form-group row col">
                <label class="control-label col-md-4 align-self-center">Lĩnh vực kho</label>
                @Html.DropDownList("LocationsByPrefix", new SelectList(string.Empty, "Value", "Text"), "Chọn lĩnh vực", new { @class = "form-control col-md-8", @multiple = true })
            </div>
        </div>
        <div class="col-3">
            <div class="form-group row">
                <label class="control-label col-md-5 align-self-center">Từ ngày</label>
                <input class="form-control col-md-7" type="date" id="date_from" name="date_from" />
            </div>
            <div class="form-group row">
                <label class="control-label col-md-5 align-self-center">Lọc ra</label>
                <input class="form-control col-md-7" type="number" id="number_patron" name="number_patron" value="12" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group row">
                <label class="control-label col-md-5 align-self-center">Tới ngày</label>
                <input class="form-control col-md-4" type="date" id="date_to" name="date_to" />
            </div>
            <div class="form-group row">
                <label class="control-label col-md-5 align-self-center">Bạn đọc dẫn đầu với tối thiểu</label>
                <input class="form-control col-md-4" type="number" id="hire_times" name="hire_times" />
                <label class="control-label col-md-3 align-self-center text-left">Lượt mượn</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="theo_dau_an_pham" value="0" name="type" checked>
                <label class="custom-control-label" for="theo_dau_an_pham">Theo đầu ấn phẩm</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="theo_ban_an_pham" value="1" name="type">
                <label class="custom-control-label" for="theo_ban_an_pham">Theo bản ấn phẩm</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group btn-group">
                <button type="submit" id="stat" class="btn btn-primary mr-1">Thống kê</button>
                <button type="button" id="reset" class="btn btn-primary" onclick="reset()">Đặt lại</button>
            </div>
        </div>
    </div>

    <div id="result"></div>
</body>
<script>

    $(document).ready(function () {

        document.getElementById("stat").onclick = function () {

            var empObj = {
                strLibID: $("#Library").val(),
                strLocPrefix: $("#LocationPrefix").val(),
                strLocID: $("#LocationsByPrefix").val().toString(),
                strDateFrom: $("#date_from").val(),
                strDateTo: $("#date_to").val(),
                strNumPatron: $("#number_patron").val(),
                strHireTimes: $("#hire_times").val(),
                strType: $("input[name='type']:checked").val()
            };

            if ($("#hire_times").val() == "") {
                alert("Số lượt mượn đang bị bỏ trống!");
            } else if ($("#number_patron").val() == "") {
                alert("Số bạn đọc đang bị bỏ trống!");
            }else if ($("#Library").val()=="") {
                alert("Hãy chọn thư viện!");
            }
            else {
                console.log(empObj)
                $.ajax({
                    url: "DisplayTopPatron",
                    data: JSON.stringify(empObj),
                    contentType: "application/json;charset=utf-8",
                    type: "POST",
                    success: function (result) {
                        $("#result").html(result)
                    },
                    error: function (errormessage) {
                        console.log("error");
                    }
                });
            }

        };

        $("#Library").change(function () {
            $("#LocationPrefix").empty();
            $("#LocationsByPrefix").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetLocationsPrefix")', // we are calling json method
                dataType: 'json',
                data: { id: $("#Library").val() },
                success: function (locs) {
                    $.each(locs, function (i, loc) {
                        $("#LocationPrefix").append('<option value="' + loc.Value + '">' +
                            loc.Text + '</option>');
                    });
                }
            });
            return false;
        });
        $("#LocationPrefix").change(function () {
            $("#LocationsByPrefix").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetLocationsByPrefix")', // we are calling json method
                dataType: 'json',
                data: { id: $("#Library").val(), prefix: $("#LocationPrefix").val() },
                success: function (locs) {
                    $.each(locs, function (i, loc) {
                        $("#LocationsByPrefix").append('<option value="' + loc.Value + '">' +
                            loc.Text + '</option>');
                    });
                }
            });
            return false;
        });
    });
    function reset() {
        location.reload();
    };
</script>