@model Libol.Models.SYS_USER
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-row {
        margin-bottom: 0.5rem;
    }

    .form-group {
        margin-bottom: 0.5rem;
    }

    option {
        padding-bottom: 0.4rem;
        padding-top: 0.4rem;
    }
</style>
@*START------------SCRIPT FOR DATATABLES*@
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/Select-1.3.0/css/select.bootstrap4.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/dataTables.checkboxes.css">
<script type="text/javascript" charset="utf8" src="~/Content/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="~/Content/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>
<script type="text/javascript" charset="utf8" src="~/Content/DataTables/Select-1.3.0/js/dataTables.select.js"></script>
<script type="text/javascript" charset="utf8" src="~/Content/DataTables/dataTables.checkboxesCustomForAccount.min.js"></script>
<script>
    var table;
    $(document).ready(function () {
        table = $('#table_account').DataTable({
            columnDefs: [{
                targets: 0,
                data: "ID",

                checkboxes: {
                    'selectRow': true
                }
            },
            { "visible": false, "targets": 1 }],
            select: {
                style: 'multi'
            },
            "processing": true,
            "serverSide": true,
            ajax: {
                url: "/Management/Account",
                type: 'POST',
            },
            columns: [
                {
                    "data": null,
                    "defaultContent": ""
                },
                { "data": "ID" },
                {
                    "data": "Username",
                    "render": function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<a href="/Management/Account?username=' + data + '">' + data + '</a>';
                        }

                        return data;
                    }
                },
                { "data": "Name" },
            ],
            order: [[1, 'asc']],
            orderCellsTop: true,

            drawCallback: function (settings, json) {
                var colIdx = 1;
                var table = $('#table_account').DataTable();
                var IDs = table.column(colIdx).data();

                $(IDs).each(function (index, value) {
                    if (value === 1) {
                        $(table.row(index).node()).addClass('not-selectable');
                        $(table.row(index).node()).children('td').children('input').remove();
                    }
                });

                // Deselect unselectable rows (that can still be selected by using the shift key)...
                table.on('select', function (e, dt, type, indexes) {
                    if (type === 'row') {
                        var rows = table.rows(indexes).nodes();

                        $.each($(rows), function () {
                            if ($(this).hasClass('not-selectable')) table.row($(this)).deselect();
                        })
                    }
                });
            },
        });

    });

</script>
@*END------------SCRIPT FOR DATATABLES*@
<form>
    <div class="form-row" style="margin-top : 1rem">
        <div class="col">
            <h4>Người dùng hiện thời</h4>
            @if (Request.Params["DeleteSuccess"] == "true")
            {
                <h5 style="text-align: center; color:green;">Xóa người dùng thành công!</h5>
            }

            @if (Request.Params["DeleteSuccess"] == "false")
            {
                <h5 style="text-align: center;color:red;">Xóa người dùng thất bại!</h5>
            }
        </div>
        <div class="col">
            <h4>Thông tin chi tiết</h4>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <table id="table_account" class="table table-striped table-bordered datatables">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Tài khoản người dùng</th>
                        <th>Họ tên</th>
                    </tr>
                </thead>

            </table>
            @if (((Int32)Session["UserID"]) == 1 || ((Int32)Session["UserID"])==68)
            {
                <button type="button" class="btn btn-danger" onclick="getSelected()">Xóa</button>
            }

        </div>
        <div class="col">
            <div class="form-row" style="padding-right : 3rem">
                <label class="control-label col-3 align-self-center text-right">Họ tên</label>
                <input type="text" class="form-control col" value="@Model.Name" id="txtName">
                <div class="invalid-feedback">
                    Vui lòng nhập Họ tên
                </div>
            </div>
            <div class="form-row" style="padding-right : 3rem">
                <label class="control-label col-3 align-self-center text-right">Tên đăng nhập</label>
                <input type="text" class="form-control col" value="@Model.Username" id="txtUsername">
                <div class="invalid-feedback">
                    Vui lòng nhập Tên đăng nhập
                </div>
            </div>
            <div class="form-row" style="padding-right : 3rem">
                <label class="control-label col-3 align-self-center text-right">Địa chỉ mail</label>
                @if (ViewBag.GoogleAccount != null)
                {
                    <input type="email" class="form-control col" value="@ViewBag.GoogleAccount.Email" id="txtEmail">
                }
                else
                {
                    <input type="email" class="form-control col" id="txtEmail">
                }
                <div class="invalid-feedback">
                    Vui lòng nhập Email
                </div>
            </div>
            <div class="form-row" style="padding-right : 3rem">
                <label class="control-label col-3 align-self-center text-right">Mật khẩu</label>
                <input type="password" class="form-control col" id="txtPassword">
                <div class="invalid-feedback">
                    Vui lòng nhập Mật khẩu
                </div>
            </div>
            <div class="form-row" style="padding-right : 3rem">
                <label class="control-label col-3 align-self-center text-right">Gõ lại mật khẩu</label>
                <input type="password" class="form-control col" id="txtRepeatPassword">
                <div class="invalid-feedback">
                    Mật khẩu không khớp
                </div>
            </div>

            <h5>Quyền truy cập vào các phân hệ</h5>
            @if (((List<Int32>)Session["RightIDs"]).Contains(6))
            {
                <div class="form-row">
                    <div class="col"><label class="col-form-label float-right">Biên mục</label></div>
                    <div class="col">
                        <select class="form-control" id="module1">
                            <option value="0">Không</option>
                            @if (@Model.CatModule)
                            {
                                <option value="1" selected>Có</option>
                            }
                            else
                            {
                                <option value="1">Có</option>
                            }
                        </select>
                    </div>
                    <div class="col"><a href="#" onclick="ShowRight(1)">Các quyền</a></div>
                </div>
            }
            @if (((List<Int32>)Session["RightIDs"]).Contains(7))
            {
                <div class="form-row">
                    <div class="col"><label class="col-form-label float-right">Bạn đọc</label></div>
                    <div class="col">
                        <select class="form-control" id="module2">
                            <option value="0">Không</option>
                            @if (@Model.PatModule)
                            {
                                <option value="1" selected>Có</option>
                            }
                            else
                            {
                                <option value="1">Có</option>
                            }
                        </select>
                    </div>
                    <div class="col"><a href="#" onclick="ShowRight(2)">Các quyền</a></div>
                </div>
            }
            @if (((List<Int32>)Session["RightIDs"]).Contains(8))
            {
                <div class="form-row">
                    <div class="col"><label class="col-form-label float-right">Mượn trả</label></div>
                    <div class="col">
                        <select class="form-control" id="module3">
                            <option value="0">Không</option>
                            @if (@Model.CirModule)
                            {
                                <option value="1" selected>Có</option>
                            }
                            else
                            {
                                <option value="1">Có</option>
                            }
                        </select>
                    </div>
                    <div class="col"><a href="#" onclick="ShowRight(3)">Các quyền</a></div>
                </div>
            }
            @if (((List<Int32>)Session["RightIDs"]).Contains(9))
            {
                <div class="form-row">
                    <div class="col"><label class="col-form-label float-right">Bổ sung</label></div>
                    <div class="col">
                        <select class="form-control" id="module4">
                            <option value="0">Không</option>
                            @if (@Model.AcqModule)
                            {
                                <option value="1" selected>Có</option>
                            }
                            else
                            {
                                <option value="1">Có</option>
                            }
                        </select>
                    </div>
                    <div class="col"><a href="#" onclick="ShowRight(4)">Các quyền</a></div>
                </div>
            }
            @if (((List<Int32>)Session["RightIDs"]).Contains(10))
            {
                <div class="form-row">
                    <div class="col"><label class="col-form-label float-right">Ấn phẩm định kỳ</label></div>
                    <div class="col">
                        <select class="form-control" id="module5">
                            <option value="0">Không</option>
                            @if (@Model.SerModule)
                            {
                                <option value="1" selected>Có</option>
                            }
                            else
                            {
                                <option value="1">Có</option>
                            }
                        </select>
                    </div>
                    <div class="col"><a href="#" onclick="ShowRight(5)">Các quyền</a></div>
                </div>
            }
            @if (((List<Int32>)Session["RightIDs"]).Contains(11))
            {
                <div class="form-row">
                    <div class="col"><label class="col-form-label float-right">ILL</label></div>
                    <div class="col">
                        <select class="form-control" id="module8">
                            <option value="0">Không</option>
                            @if (@Model.ILLModule)
                            {
                                <option value="1" selected>Có</option>
                            }
                            else
                            {
                                <option value="1">Có</option>
                            }
                        </select>
                    </div>
                    <div class="col"><a href="#" onclick="ShowRight(8)">Các quyền</a></div>
                </div>
            }
            @if (((List<Int32>)Session["RightIDs"]).Contains(12))
            {
                <div class="form-row">
                    <div class="col"><label class="col-form-label float-right">Sưu tập số</label></div>
                    <div class="col">
                        <select class="form-control" id="module9">
                            <option value="0">Không</option>
                            @if (@Model.DelModule)
                            {
                                <option value="1" selected>Có</option>
                            }
                            else
                            {
                                <option value="1">Có</option>
                            }
                        </select>
                    </div>
                    <div class="col"><a href="#" onclick="ShowRight(9)">Các quyền</a></div>
                </div>
            }
            @if (((Int32)Session["UserID"]) == 1)
            {
                <div class="form-row">
                    <div class="col"><label class="col-form-label float-right">Quản trị</label></div>
                    <div class="col">
                        <select class="form-control" id="module6">
                            <option value="0">Không</option>
                            @if (@Model.AdmModule)
                            {
                                <option value="1" selected>Có</option>
                            }
                            else
                            {
                                <option value="1">Có</option>
                            }
                        </select>
                    </div>
                    <div class="col"><a href="#" onclick="ShowRight(6)">Các quyền</a></div>
                </div>
            }


            <div class="form-group row" style="padding-right : 3rem">
                <div class="col">
                    @if (Model.ID > 0)
                    {
                        <button type="button" class="btn btn-primary float-right" onclick="UpdateUser()">Cập nhật</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary float-right" onclick="AddNewUser()">Tạo mới</button>
                    }
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" onclick="Reset()">Đặt lại</button>
                </div>


            </div>


        </div>
    </div>
    <input type="hidden" id="txtID" value="@Model.ID" />
    <div class="modal" tabindex="-1" role="dialog" id="modalNotifyUpdate">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông tin tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="notifyMessageUpdate" style="color: green;"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="reloadUpdate()">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="modalNotify">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông tin tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="notifyMessage" style="color:red;"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="modalNotifyDelete">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông tin tài khoản</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color:red;">Bạn chắc chắn muốn xóa người dùng </p><strong id="notifyMessageDelete"></strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="DeleteUser()">Xóa</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modalRight">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleRight">Các quyền trong Phân hệ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col text-center"><label class="col-form-label"><strong>Các quyền cấp</strong></label></div>
                        <div class="col-1"></div>
                        <div class="col text-center"><label class="col-form-label"><strong>Các quyền không cấp</strong></label></div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-row">
                                <div class="col">
                                    <select class="form-control" multiple id="acceptRights" style="height: 215px;"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 text-center" style="margin-top: auto;margin-bottom:auto;"><button class="btn btn-primary" type="button" style="margin-bottom: 1rem;" onclick="Accept()">&lt;&lt;&lt;</button><button class="btn btn-primary" type="button" onclick="Deny()">&gt;&gt;&gt;</button></div>
                        <div class="col">
                            <div class="form-row">
                                <div class="col">
                                    <select class="form-control" multiple id="denyRights" style="height: 215px;"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row locRights" style="display:none">
                        <div class="col text-center"><label class="col-form-label"><strong>Các kho được quản lý</strong></label></div>
                        <div class="col-1"></div>
                        <div class="col text-center"><label class="col-form-label"><strong>Các kho không được quản lý</strong></label></div>
                    </div>
                    <div class="form-row locRights" style="display:none">
                        <div class="col">
                            <div class="form-row">
                                <div class="col">
                                    <select class="form-control" multiple id="acceptLocRights" style="height: 215px;"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-1 text-center" style="margin-top: auto;margin-bottom:auto;"><button class="btn btn-primary" type="button" style="margin-bottom: 1rem;" onclick="AcceptLoc()">&lt;&lt;&lt;</button><button class="btn btn-primary" type="button" onclick="DenyLoc()">&gt;&gt;&gt;</button></div>
                        <div class="col">
                            <div class="form-row">
                                <div class="col">
                                    <select class="form-control" multiple id="denyLocRights" style="height: 215px;"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="moduleID" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="@Model.ID" id="UserID" />
</form>



<script>
    $(document).ready(function () {
        GetRightFromDBNotFill(1);
        GetRightFromDBNotFill(2);
        GetRightFromDBNotFill(3);
        GetRightFromDBNotFill(4);
        GetRightFromDBNotFill(5);
        GetRightFromDBNotFill(8);
        GetRightFromDBNotFill(9);
        GetRightFromDBNotFill(6);
    });

    function AddNewUser() {
        hideInvalid();
        if (right1 == null || right2 == null || right3 == null || right4 == null || right5 == null || right8 == null || right9 == null || right6 == null) {
            
            document.getElementById("notifyMessage").innerHTML = "Vui lòng chờ!";
            $("#modalNotify").modal();
        }
        var module1 = $('#module1').val();
        var module2 = $('#module2').val();
        var module3 = $('#module3').val();
        var module4 = $('#module4').val();
        var module5 = $('#module5').val();
        var module8 = $('#module8').val();
        var module9 = $('#module9').val();
        var module6 = $('#module6').val();
        if (module1 == null) {
            module1 = 0;
        }
        if (module2 == null) {
            module2 = 0;
        }
        if (module3 == null) {
            module3 = 0;
        }
        if (module4 == null) {
            module4 = 0;
        }
        if (module5 == null) {
            module5 = 0;
        }
        if (module8 == null) {
            module8 = 0;
        }
        if (module9 == null) {
            module9 = 0;
        }
        if (module6 == null) {
            module6 = 0;
        }
        var rights = GetAcceptRights(right1) +
            GetAcceptRights(right2) +
            GetAcceptRights(right3) +
            GetAcceptRights(right4) +
            GetAcceptRights(right5) +
            GetAcceptRights(right8) +
            GetAcceptRights(right9) +
            GetAcceptRights(right6);
        var locRights1 = GetAcceptLocRights(right3);
        var locRights2 = GetAcceptLocRights(right4);
        var locRights3 = GetAcceptLocRights(right5);
        var empObj = {
            Name: document.getElementById("txtName").value,
            Username: document.getElementById("txtUsername").value,
            Email: document.getElementById("txtEmail").value,
            Password: document.getElementById("txtPassword").value,
            RepeatPassword: document.getElementById("txtRepeatPassword").value,
            module1: module1,
            module2: module2,
            module3: module3,
            module4: module4,
            module5: module5,
            module8: module8,
            module9: module9,
            module6: module6,
            rights: rights.substring(0, rights.length - 1),
            locRights1: locRights1,
            locRights2: locRights2,
            locRights3: locRights3,
        }
        $.ajax({
            url: "/Management/AddNewUser",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                switch (result.CodeError) {
                    case 0:
                        $("#modalNotifyUpdate").modal();
                        document.getElementById("notifyMessageUpdate").innerHTML = result.Data;
                        break;
                    case 1:
                        showInvalid(result.Data);
                        break;
                    case 2:
                        $("#modalNotify").modal();
                        document.getElementById("notifyMessage").innerHTML = result.Data;
                        break;
                    default:
                        

                }
            },
            error: function (errormessage) {

            }
        });
    }
    function Reset() {
        window.location.href = "/Management/Account";
    }
    function UpdateUser() {
        hideInvalid();
        if (right1 == null || right2 == null || right3 == null || right4 == null || right5 == null || right8 == null || right9 == null || right6 == null) {

            document.getElementById("notifyMessage").innerHTML = "Vui lòng chờ!";
            $("#modalNotify").modal();
        }
        var module1 = $('#module1').val();
        var module2 = $('#module2').val();
        var module3 = $('#module3').val();
        var module4 = $('#module4').val();
        var module5 = $('#module5').val();
        var module8 = $('#module8').val();
        var module9 = $('#module9').val();
        var module6 = $('#module6').val();
        if (module1 == null) {
            module1 = 0;
        }
        if (module2 == null) {
            module2 = 0;
        }
        if (module3 == null) {
            module3 = 0;
        }
        if (module4 == null) {
            module4 = 0;
        }
        if (module5 == null) {
            module5 = 0;
        }
        if (module8 == null) {
            module8 = 0;
        }
        if (module9 == null) {
            module9 = 0;
        }
        if (module6 == null) {
            module6 = 0;
        }
        var rights = GetAcceptRights(right1) +
            GetAcceptRights(right2) +
            GetAcceptRights(right3) +
            GetAcceptRights(right4) +
            GetAcceptRights(right5) +
            GetAcceptRights(right8) +
            GetAcceptRights(right9) +
            GetAcceptRights(right6);
        var locRights1 = GetAcceptLocRights(right3);
        var locRights2 = GetAcceptLocRights(right4);
        var locRights3 = GetAcceptLocRights(right5);
        var empObj = {
            ID: document.getElementById("txtID").value,
            Name: document.getElementById("txtName").value,
            Username: document.getElementById("txtUsername").value,
            Email: document.getElementById("txtEmail").value,
            Password: document.getElementById("txtPassword").value,
            RepeatPassword: document.getElementById("txtRepeatPassword").value,
            module1: module1,
            module2: module2,
            module3: module3,
            module4: module4,
            module5: module5,
            module8: module8,
            module9: module9,
            module6: module6,
            rights: rights.substring(0, rights.length - 1),
            locRights1: locRights1,
            locRights2: locRights2,
            locRights3: locRights3,
        }
        $.ajax({
            url: "/Management/UpdateUser",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                switch (result.CodeError) {
                    case 0:
                        $("#modalNotifyUpdate").modal();
                        document.getElementById("notifyMessageUpdate").innerHTML = result.Data;
                        break;
                    case 1:
                        showInvalid(result.Data);
                        break;
                    case 2:
                        $("#modalNotify").modal();
                        document.getElementById("notifyMessage").innerHTML = result.Data;
                        break;
                    default:
                        

                }
            },
            error: function (errormessage) {

            }
        });
    }

    function showInvalid(invalidFields) {
        var fields = invalidFields.split("-");
        for (i = 0; i < fields.length; i++) {
            if (fields[i] != "") {
                var element = document.getElementById(fields[i]);
                element.classList.add("is-invalid");
            }
        }
    }

    function hideInvalid() {
        var fields = "txtName-txtEmail-txtUsername-txtPassword-txtRepeatPassword".split("-");
        for (i = 0; i < fields.length; i++) {
            if (fields[i] != "") {
                var element = document.getElementById(fields[i]);
                element.classList.remove("is-invalid");
            }
        }
    }

    function reloadUpdate() {
        window.location.href = "/Management/Account"
    }

    var newstrUIDs = "";

    function getSelected() {
        var strUIDs = "";
        var users = "";
        var selectedIds = table.columns().checkboxes.selected()[0];
        selectedIds.forEach(function (selectedId) {
            strUIDs += selectedId.ID + ",";
            users += selectedId.Username + ",";
        });
        newstrUIDs = strUIDs.substring(0, strUIDs.length - 1);
        users = users.substring(0, users.length - 1);
        if (users != "") {
            $("#modalNotifyDelete").modal();
            document.getElementById("notifyMessageDelete").innerText = users;
        }
    }

    function DeleteUser() {
        var empObj = {
            strUIDs: newstrUIDs
        };
        $.ajax({
            url: "/Management/DeleteUser",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result != "") {
                    window.location.href = "/Management/Account?DeleteSuccess=false";
                } else {
                    window.location.href = "/Management/Account?DeleteSuccess=true";
                }
            },
            error: function (errormessage) {

            }
        });
    }

    var right1 = null;
    var right2 = null;
    var right3 = null;
    var right4 = null;
    var right5 = null;
    var right8 = null;
    var right9 = null;
    var right6 = null;
    var rightLoc1 = null;
    var rightLoc2 = null;
    var rightLoc3 = null;

    function ShowRight(moduleID) {
        HideLocRights();
        if (moduleID == 1) {
            document.getElementById("titleRight").innerText = "Các quyền trong Phân hệ Biên mục";
            if (right1 == null) {
                GetRightFromDB(1);
            }
            else {
                FillData(right1, 1);
            }
        }
        if (moduleID == 2) {
            document.getElementById("titleRight").innerText = "Các quyền trong Phân hệ Bạn đọc";
            if (right2 == null) {
                GetRightFromDB(2);
            }
            else {
                FillData(right2, 2);
            }
        }
        if (moduleID == 3) {
            ShowLocRights();
            document.getElementById("titleRight").innerText = "Các quyền trong Phân hệ Mượn trả";
            if (right3 == null) {
                GetRightFromDB(3);
            }
            else {
                FillData(right3, 3);
            }
        }
        if (moduleID == 4) {
            ShowLocRights();
            document.getElementById("titleRight").innerText = "Các quyền trong Phân hệ Bổ sung";
            if (right4 == null) {
                GetRightFromDB(4);
            }
            else {
                FillData(right4, 4);
            }
        }
        if (moduleID == 5) {
            ShowLocRights();
            document.getElementById("titleRight").innerText = "Các quyền trong Phân hệ Ấn phẩm định kỳ";
            if (right5 == null) {
                GetRightFromDB(5);
            }
            else {
                FillData(right5, 5);
            }
        }
        if (moduleID == 8) {
            document.getElementById("titleRight").innerText = "Các quyền trong Phân hệ ILL";
            if (right8 == null) {
                GetRightFromDB(8);
            }
            else {
                FillData(right8, 8);
            }
        }
        if (moduleID == 9) {
            document.getElementById("titleRight").innerText = "Các quyền trong Phân hệ Sưu tập số";
            if (right9 == null) {
                GetRightFromDB(9);
            }
            else {
                FillData(right9, 9);
            }
        }
        if (moduleID == 6) {
            document.getElementById("titleRight").innerText = "Các quyền trong Phân hệ Quản trị";
            if (right6 == null) {
                GetRightFromDB(6);
            }
            else {
                FillData(right6, 6);
            }
        }
        $("#modalRight").modal();
    }

    function ShowLocRights() {
        var locRights = document.getElementsByClassName("locRights");
        locRights[0].style.display = "flex";
        locRights[1].style.display = "flex";
    }

    function HideLocRights() {
        var locRights = document.getElementsByClassName("locRights");
        locRights[0].style.display = "none";
        locRights[1].style.display = "none";
    }

    function GetRightFromDB(moduleID) {
        var empObj = {
            module: moduleID,
            UserID: document.getElementById("UserID").value
        };
        $.ajax({
            url: "/Management/GetRightInModule",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (moduleID == 1) {
                    right1 = result;
                    FillData(right1, 1);
                }
                if (moduleID == 2) {
                    right2 = result;
                    FillData(right2, 2);
                }
                if (moduleID == 3) {
                    right3 = result;
                    FillData(right3, 3);
                }
                if (moduleID == 4) {
                    right4 = result;
                    FillData(right4, 4);
                }
                if (moduleID == 5) {
                    right5 = result;
                    FillData(right5, 5);
                }
                if (moduleID == 8) {
                    right8 = result;
                    FillData(right8, 8);
                }
                if (moduleID == 9) {
                    right9 = result;
                    FillData(right9, 9);
                }
                if (moduleID == 6) {
                    right6 = result;
                    FillData(right6, 6);
                }
            },
            error: function (errormessage) {

            }
        });
    }

    function GetRightFromDBNotFill(moduleID) {
        var empObj = {
            module: moduleID,
            UserID: document.getElementById("UserID").value
        };
        $.ajax({
            url: "/Management/GetRightInModule",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (moduleID == 1) {
                    right1 = result;
                }
                if (moduleID == 2) {
                    right2 = result;
                }
                if (moduleID == 3) {
                    right3 = result;
                }
                if (moduleID == 4) {
                    right4 = result;
                }
                if (moduleID == 5) {
                    right5 = result;
                }
                if (moduleID == 8) {
                    right8 = result;
                }
                if (moduleID == 9) {
                    right9 = result;
                }
                if (moduleID == 6) {
                    right6 = result;
                }
            },
            error: function (errormessage) {

            }
        });
    }

    function FillData(right, moduleID) {
        var htmlAccept = "";
        var accept = right.Accept;
        for (var i in accept) {
            htmlAccept += "<option value='" + accept[i].ID + "'>" + accept[i].Right + "</option>";
        }
        document.getElementById("acceptRights").innerHTML = htmlAccept;

        var htmlDeny = "";
        var deny = right.Deny;
        for (var i in deny) {
            htmlDeny += "<option value='" + deny[i].ID + "'>" + deny[i].Right + "</option>";
        }
        document.getElementById("denyRights").innerHTML = htmlDeny;

        var htmlLocAccept = "";
        var acceptLoc = right.AcceptLoc;
        for (var i in acceptLoc) {
            htmlLocAccept += "<option value='" + acceptLoc[i].ID + "'>" + acceptLoc[i].LocName + "</option>";
        }
        document.getElementById("acceptLocRights").innerHTML = htmlLocAccept;

        var htmlLocDeny = "";
        var denyLoc = right.DenyLoc;
        for (var i in denyLoc) {
            htmlLocDeny += "<option value='" + denyLoc[i].ID + "'>" + denyLoc[i].LocName + "</option>";
        }
        document.getElementById("denyLocRights").innerHTML = htmlLocDeny;

        document.getElementById("moduleID").value = moduleID;
    }

    function GetAcceptRights(right) {
        var rights = "";
        var accept = right.Accept;
        for (var i in accept) {
            rights += accept[i].ID+",";
        }
        return rights;
    }

    function GetAcceptLocRights(right) {
        var locRights = "";
        var accept = right.AcceptLoc;
        for (var i in accept) {
            locRights += accept[i].ID + ",";
        }
        return locRights;
    }

    function Accept() {
        var denyRightsID = $('#denyRights').val();
        var denyRights = $("#denyRights :selected").toArray();

        for (var id in denyRights) {
            switch (document.getElementById("moduleID").value) {
                case '1':
                    right1.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: denyRights[id].innerText
                    };
                    right1.Accept.push(item);
                    break;
                case '2':
                    right2.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: denyRights[id].innerText
                    };
                    right2.Accept.push(item);
                    break;
                case '3':
                    right3.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: denyRights[id].innerText
                    };
                    right3.Accept.push(item);
                    break;
                case '4':
                    right4.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: denyRights[id].innerText
                    };
                    right4.Accept.push(item);
                    break;
                case '5':
                    right5.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: denyRights[id].innerText
                    };
                    right5.Accept.push(item);
                    break;
                case '8':
                    right8.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: denyRights[id].innerText
                    };
                    right8.Accept.push(item);
                    break;
                case '9':
                    right9.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: denyRights[id].innerText
                    };
                    right9.Accept.push(item);
                    break;
                case '6':
                    right6.Deny.splice(denyRights[id].index, 1);
                    var item = {
                        ID: denyRightsID[id],
                        Right: denyRights[id].innerText
                    };
                    right6.Accept.push(item);
                    break;
                default:
            }
            $("#denyRights option[value='" + denyRightsID[id] + "']").remove();
            $("#acceptRights").append("<option value='" + denyRightsID[id] + "'>" + denyRights[id].innerText + "</option>");
            $("#acceptRights").scrollTop(9999999);
        }
    }

    function AcceptLoc() {
        var denyLocRightsID = $('#denyLocRights').val();
        var denyLocRights = $("#denyLocRights :selected").toArray();

        for (var id in denyLocRights) {
            switch (document.getElementById("moduleID").value) {
                case '1':
                    right1.DenyLoc.splice(denyLocRights[id].index, 1);
                    var item = {
                        ID: denyLocRightsID[id],
                        LocName: denyLocRights[id].innerText
                    };
                    right1.AcceptLoc.push(item);
                    break;
                case '2':
                    right2.DenyLoc.splice(denyLocRights[id].index, 1);
                    var item = {
                        ID: denyLocRightsID[id],
                        LocName: denyLocRights[id].innerText
                    };
                    right2.AcceptLoc.push(item);
                    break;
                case '3':
                    right3.DenyLoc.splice(denyLocRights[id].index, 1);
                    var item = {
                        ID: denyLocRightsID[id],
                        LocName: denyLocRights[id].innerText
                    };
                    right3.AcceptLoc.push(item);
                    break;
                case '4':
                    right4.DenyLoc.splice(denyLocRights[id].index, 1);
                    var item = {
                        ID: denyLocRightsID[id],
                        LocName: denyLocRights[id].innerText
                    };
                    right4.AcceptLoc.push(item);
                    break;
                case '5':
                    right5.DenyLoc.splice(denyLocRights[id].index, 1);
                    var item = {
                        ID: denyLocRightsID[id],
                        LocName: denyLocRights[id].innerText
                    };
                    right5.AcceptLoc.push(item);
                    break;
                case '8':
                    right8.DenyLoc.splice(denyLocRights[id].index, 1);
                    var item = {
                        ID: denyLocRightsID[id],
                        LocName: denyLocRights[id].innerText
                    };
                    right8.AcceptLoc.push(item);
                    break;
                case '9':
                    right9.DenyLoc.splice(denyLocRights[id].index, 1);
                    var item = {
                        ID: denyLocRightsID[id],
                        LocName: denyLocRights[id].innerText
                    };
                    right9.AcceptLoc.push(item);
                    break;
                case '6':
                    right6.DenyLoc.splice(denyLocRights[id].index, 1);
                    var item = {
                        ID: denyLocRightsID[id],
                        LocName: denyLocRights[id].innerText
                    };
                    right6.AcceptLoc.push(item);
                    break;
                default:
            }
            $("#denyLocRights option[value='" + denyLocRightsID[id] + "']").remove();
            $("#acceptLocRights").append("<option value='" + denyLocRightsID[id] + "'>" + denyLocRights[id].innerText + "</option>");
            $("#acceptLocRights").scrollTop(9999999);
        }
    }

    function Deny() {
        var acceptRightsID = $('#acceptRights').val();
        var acceptRights = $("#acceptRights :selected").toArray();

        for (var id in acceptRights) {
            switch (document.getElementById("moduleID").value) {
                case '1':
                    right1.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: acceptRights[id].innerText
                    };
                    right1.Deny.push(item);
                    break;
                case '2':
                    right2.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: acceptRights[id].innerText
                    };
                    right2.Deny.push(item);
                    break;
                case '3':
                    right3.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: acceptRights[id].innerText
                    };
                    right3.Deny.push(item);
                    break;
                case '4':
                    right4.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: acceptRights[id].innerText
                    };
                    right4.Deny.push(item);
                    break;
                case '5':
                    right5.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: acceptRights[id].innerText
                    };
                    right5.Deny.push(item);
                    break;
                case '8':
                    right8.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: acceptRights[id].innerText
                    };
                    right8.Deny.push(item);
                    break;
                case '9':
                    right9.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: acceptRights[id].innerText
                    };
                    right9.Deny.push(item);
                    break;
                case '6':
                    right6.Accept.splice(acceptRights[id].index, 1);
                    var item = {
                        ID: acceptRightsID[id],
                        Right: acceptRights[id].innerText
                    };
                    right6.Deny.push(item);
                    break;
                default:
            }
            $("#acceptRights option[value='" + acceptRightsID[id] + "']").remove();
            $("#denyRights").append("<option value='" + acceptRightsID[id] + "'>" + acceptRights[id].innerText + "</option>");
            $("#denyRights").scrollTop(9999999);
        }
    }

    function DenyLoc() {
        var acceptLocRightsID = $('#acceptLocRights').val();
        var acceptLocRights = $("#acceptLocRights :selected").toArray();

        for (var id in acceptLocRights) {
            switch (document.getElementById("moduleID").value) {
                case '1':
                    right1.AcceptLoc.splice(acceptLocRights[id].index, 1);
                    var item = {
                        ID: acceptLocRightsID[id],
                        LocName: acceptLocRights[id].innerText
                    };
                    right1.DenyLoc.push(item);
                    break;
                case '2':
                    right2.AcceptLoc.splice(acceptLocRights[id].index, 1);
                    var item = {
                        ID: acceptLocRightsID[id],
                        LocName: acceptLocRights[id].innerText
                    };
                    right2.DenyLoc.push(item);
                    break;
                case '3':
                    right3.AcceptLoc.splice(acceptLocRights[id].index, 1);
                    var item = {
                        ID: acceptLocRightsID[id],
                        LocName: acceptLocRights[id].innerText
                    };
                    right3.DenyLoc.push(item);
                    break;
                case '4':
                    right4.AcceptLoc.splice(acceptLocRights[id].index, 1);
                    var item = {
                        ID: acceptLocRightsID[id],
                        LocName: acceptLocRights[id].innerText
                    };
                    right4.DenyLoc.push(item);
                    break;
                case '5':
                    right5.AcceptLoc.splice(acceptLocRights[id].index, 1);
                    var item = {
                        ID: acceptLocRightsID[id],
                        LocName: acceptLocRights[id].innerText
                    };
                    right5.DenyLoc.push(item);
                    break;
                case '8':
                    right8.AcceptLoc.splice(acceptLocRights[id].index, 1);
                    var item = {
                        ID: acceptLocRightsID[id],
                        LocName: acceptLocRights[id].innerText
                    };
                    right8.DenyLoc.push(item);
                    break;
                case '9':
                    right9.AcceptLoc.splice(acceptLocRights[id].index, 1);
                    var item = {
                        ID: acceptLocRightsID[id],
                        LocName: acceptLocRights[id].innerText
                    };
                    right9.DenyLoc.push(item);
                    break;
                case '6':
                    right6.AcceptLoc.splice(acceptLocRights[id].index, 1);
                    var item = {
                        ID: acceptLocRightsID[id],
                        LocName: acceptLocRights[id].innerText
                    };
                    right6.DenyLoc.push(item);
                    break;
                default:
            }
            $("#acceptLocRights option[value='" + acceptLocRightsID[id] + "']").remove();
            $("#denyLocRights").append("<option value='" + acceptLocRightsID[id] + "'>" + acceptLocRights[id].innerText + "</option>");
            $("#denyLocRights").scrollTop(9999999);
        }
    }

</script>