<head>
    <style>
        .columnleft {
            float: right;
        }

        #myModal th {
            font-size: 12px;
        }

        #myModal td {
            font-size: 11px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/Select-1.3.0/css/select.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/dataTables.checkboxes.css">
    <script type="text/javascript" charset="utf8" src="~/Content/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Content/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Content/DataTables/Select-1.3.0/js/dataTables.select.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Content/DataTables/dataTables.checkboxes.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#table_loaninfo').DataTable({
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox'
                }],
                select: {
                    style: 'multi'
                },
                columns: [
                    {
                        "render": function (data, type, full, meta) {
                            return '<a href="#" onclick="rollbackacheckout(' + "'" + full.Copynumber + "'," + ')"><strong>Thu hồi</strong></a>';
                        }
                    },
                    { "data": "Title" },
                    { "data": "Copynumber" },
                    { "data": "CheckoutDate" },
                    { "data": "DueDate" },
                    { "data": "Note" },
                    {
                        "render": function (data, type, full, meta) {
                            var title = full.Title.replace("'", "");
                            return '<button class="btn btn-info" type="button"  onclick="ShowUpdateForm(' +
                                "'" + title + "'," +
                                "'" + full.Copynumber + "'," +
                                "'" + full.CheckoutDate + "'," +
                                "'" + full.DueDate + "'," +
                                "'" + full.Note +
                                "'" + ')">Sửa</button>';
                        }
                    },
                ],
                order: [[1, 'asc']],
                orderCellsTop: true,

            });

            $('#table_loaninfo').on('click', '#select_all', function () {
                if ($('#select_all:checked').val() === 'on') {
                    table.rows({ search: 'applied' }).select();
                }
                else {
                    table.rows().deselect();
                }
            });


            if ($("#hiddenCheckduplicate").val() != '') {
                document.getElementById("notifyMessage").innerText = "Bạn đọc này hiện đang mượn ấn phẩm cùng loại";
                $("#ModalCheckduplicate").modal("show");
            }
        });

        function ShowUpdateForm(
            Title,
            Copynumber,
            CheckOutDate,
            DueDate,
            Note
        ) {

            Title_Update = Title;
            Copynumber_Update = Copynumber;
            CheckOutDate_Update = CheckOutDate;
            DueDate_Update = DueDate;
            Note_Update = Note;

            document.getElementById("txtTitle").value = Title;
            document.getElementById("txtCopyNumber").value = Copynumber;
            document.getElementById("txtCheckOutDate").value = CheckOutDate;

            var arr = DueDate.split("/");
            var date = arr[2]+"-" + arr[1]+"-" + arr[0];

            document.getElementById("txtDueDate").value = date;
            document.getElementById("txtNote").value = Note;

            $("#myModal1").modal("show");
        }

        function Cancel() {
            $("#myModal1").modal("hide");
        }
        function Save() {
            $("#myModal1").modal("hide");
            var note = document.getElementById("txtNote").value;
            var copyNumber = document.getElementById("txtCopyNumber").value;
            var duedate = document.getElementById("txtDueDate").value;
            var empObj = {
                strCopyNumber: copyNumber,
                strNote: note,
                strDueDate: duedate
            };
            $.ajax({
                contentType: "application/json;charset=utf-8",
                type: "POST",
                url: "/CheckOut/ChangeNote",
                data: JSON.stringify(empObj),
                success: function (result) {
                    $("#contentcheckout").html(result);
                },
                error: function (errormessage) {
                }
            });
        }

        function rollbackacheckout(copyNumber) {
            var empObj = {
                strCopyNumbers: copyNumber,
            };
            $.ajax({
                contentType: "application/json;charset=utf-8",
                type: "POST",
                url: "/CheckOut/Rollbackacheckout",
                data: JSON.stringify(empObj),
                success: function (result) {
                    $("#contentcheckout").html(result);
                },
                error: function (errormessage) {
                }
            });
        }

        function CancelUpdate() {
            $("#ModalCheckduplicate").modal("hide");
        }

        function ContinueUpdate() {
            $("#ModalCheckduplicate").modal("hide");
            var mode = 1;
            if (document.getElementById("checkoutofquota").checked == true) {
                mode = 3;
            }
            var empObj = {
                strPatronCode: document.getElementById("strPatronCode").value,
                strDueDate: document.getElementById("strDueDate").value,
                intLoanMode: mode,
                intHoldIgnore: 0,
                strCopyNumbers: document.getElementById("hiddenDuplicateCopyNumber").value,
                strCheckOutDate: document.getElementById("strCheckoutDate").value,
                boolAllowDuplacate: 1
            };
            $.ajax({
                url: "CheckOut/CheckOut",
                data: JSON.stringify(empObj),
                contentType: "application/json;charset=utf-8",
                type: "POST",
                success: function (result) {
                    $("#contentcheckout").html(result)
                    if (document.getElementById("hiddenmessage").value != "") {
                       
                        alert(document.getElementById("hiddenmessage").value);
                    }
                    document.getElementById("strCopyNumber").value = "";
                    document.getElementById("strCopyNumber").focus();
                },
                error: function (errormessage) {
                }
            });
        }

        function SaveEditLock() {
            $("#myModal3").modal("hide");
            var patronCode = document.getElementById("plockcode").value;
            var lockDays = document.getElementById("plockday").value;
            var note = document.getElementById("plocknote").value;
            $.ajax({
                url: "/CheckOut/UpdatedLockCardPatron",
                data: JSON.stringify({ patronCode: patronCode, lockDays: lockDays, note: note }),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function () {
                    alert('Bạn đã Update trạng thái khóa thẻ thành công');
                },
                error: function () {
                }

            });
        }
    </script>
</head>
<h4 style="margin-top:1rem;">Ghi mượn ấn phẩm</h4>
<h5 style="padding-bottom:0px;">Thông tin bạn đọc</h5>
<div class="form-row" style="padding-bottom:0px;">
    <div class="col-7">
        <div class="form-row">
            <div class="col-2" style="padding-top:0px;">
                @if (String.IsNullOrEmpty(ViewBag.PatronDetail.strPortrait))
                {
                    <img src="~/Content/ImagePatron/NoImage.png" style="width: 90px;height: 130px;" id="avatarImage" />
                }
                else
                {
                    <img src="~/Content/ImagePatron/@ViewBag.PatronDetail.strPortrait" style="width: 90px;height: 130px;" id="avatarImage" />
                }
            </div>
            <div class="col">
                <div class="form-row">
                    <div class="col">
                        <div class="form-row">
                            <div class="col"><span><strong>@ViewBag.PatronDetail.Name (@ViewBag.PatronDetail.strCode)</strong></span><a href="#" style="margin-left: 15px;" data-toggle="modal" data-target="#myModal">Thông tin chi tiết</a></div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col"><span class="col-form-label">Ngày sinh: <strong>@ViewBag.PatronDetail.strDOB</strong></span></div>
                </div>
                <div class="form-row">
                    <div class="col"><span class="col-form-label">Giá trị thẻ: <strong>@ViewBag.PatronDetail.strValidDate - @ViewBag.PatronDetail.strExpiredDate</strong></span></div>
                </div>
                <div class="form-row">
                    <div class="col"><span class="col-form-label">Nhóm: <strong>@ViewBag.PatronDetail.intPatronGroupID</strong></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.currentloaninfo.Count > 0)
{
    <div class="form-row" style="padding-top:10px;">
        <div class="col">
            <h5 style="margin-top:0px; margin-bottom:5px;">Danh sách ấn phẩm vừa ghi mượn</h5>
            <table id="table_loaninfo" class="table table-striped table-bordered datatables">
                <thead style="text-align: center;">
                    <tr>
                        <th>Thu hồi</th>
                        <th>Nhan đề</th>
                        <th>ĐKCB</th>
                        <th>Ngày mượn</th>
                        <th>Hạn trả</th>
                        <th>Ghi chú</th>
                        <th>Sửa</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in ViewBag.currentloaninfo)
                    {
                        <tr>
                            <td><a>Thu hồi</a></td>
                            <td>@item.Title</td>
                            <td>@item.Copynumber</td>
                            <td>@item.CheckoutDate</td>
                            <td>@item.DueDate</td>
                            <td>@item.Note</td>
                            <td><button class="btn btn-info">Sửa</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}





<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog" style="max-width: 500px;">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thông tin chi tiết của bạn đọc</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5>
                    Thông tin cơ bản
                </h5>
                <div class="col" style="padding-left:50px; padding-bottom:10px;">
                    <table>
                        <tr>
                            <td class="columnleft">Họ tên: </td>
                            <td><strong>@ViewBag.PatronDetail.Name</strong></td>
                        </tr>
                        <tr>
                            <td class="columnleft">Dân tộc: </td>
                            <td><strong>@ViewBag.PatronDetail.intEthnicID</strong></td>
                        </tr>
                        <tr>
                            <td class="columnleft">Ngày sinh: </td>
                            <td><strong>@ViewBag.PatronDetail.strDOB</strong></td>
                        </tr>
                        <tr>
                            <td class="columnleft">Giới tính: </td>
                            <td>
                                <strong>@ViewBag.PatronDetail.Sex</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="columnleft">Trình độ văn hóa </td>
                            <td><strong>@ViewBag.PatronDetail.strEducationlevel</strong></td>
                        </tr>
                        <tr>
                            <td class="columnleft">Số thẻ: </td>
                            <td><strong>@ViewBag.PatronDetail.strCode</strong></td>
                        </tr>
                        <tr>
                            <td class="columnleft">Ngày cấy thẻ: </td>
                            <td><strong>@ViewBag.PatronDetail.strValidDate</strong></td>
                        </tr>
                        <tr>
                            <td class="columnleft">Ngày hết hạn thẻ: </td>
                            <td><strong>@ViewBag.PatronDetail.strExpiredDate</strong></td>
                        </tr>
                        <tr>
                            <td class="columnleft">nhóm bạn đọc: </td>
                            <td><strong>@ViewBag.PatronDetail.intPatronGroupID</strong></td>
                        </tr>
                    </table>
                </div>
                <h5>
                    Nghề nghiệp
                </h5>
                <div class="col" style="padding-left:50px; padding-bottom:10px;">
                    <table>
                        <tr>
                            <td class="columnleft">Khoa: </td>
                            <td><strong>@ViewBag.PatronDetail.intFacultyID</strong></td>
                        </tr>
                        <tr>
                            <td class="columnleft">Nhóm nghề nghiệp: </td>
                            <td><strong>@ViewBag.PatronDetail.intOccupationID</strong></td>
                        </tr>
                        <tr>
                            <td class="columnleft">Trường: </td>
                            <td><strong>@ViewBag.PatronDetail.intCollegeID</strong></td>
                        </tr>
                        <tr>
                            <td class="columnleft">Địa chỉ nơi làm việc: </td>
                            <td><strong>@ViewBag.PatronDetail.strWorkPlace</strong></td>
                        </tr>
                    </table>
                </div>
                <h5>
                    Thông tin liên lạc
                </h5>
                <div class="col" style="padding-left:50px; padding-bottom:10px;">
                    <table>
                        <tr>
                            <td class="columnleft">Địa chỉ: </td>
                            <td><strong>@ViewBag.PatronDetail.strAddress</strong></td>
                        </tr>
                        <tr>
                            <td class="columnleft">SĐT cố định: </td>
                            <td><strong>@ViewBag.PatronDetail.strTelephone</strong></td>
                        </tr>
                        <tr>
                            <td class="columnleft">SĐT di động: </td>
                            <td><strong>@ViewBag.PatronDetail.strMobile</strong></td>
                        </tr>
                        <tr>
                            <td class="columnleft">Email: </td>
                            <td><strong>@ViewBag.PatronDetail.strEmail</strong></td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='/Patron/Create?strPatronID=@ViewBag.PatronDetail.ID';">Sửa</button>
            </div>

        </div>
    </div>
</div>


<div id="myModal1" class="modal">
    <div class="modal-dialog" style="width:500px;">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="" modal-title">Sửa thông tin ấn phẩm vừa mượn</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group ">
                    <label for="txtFullName">Nhan đề:</label>
                    <textarea class="form-control" id="txtTitle" disabled/>
                </div>
                <div class="form-group ">
                    <label for="txtPatronCode">ĐKCB:</label>
                    <input type="text" class="form-control" id="txtCopyNumber" disabled>
                </div>
                <div class="form-group ">
                    <label for="txtStartdate">Ngày mượn:</label>
                    <input type="text" class="form-control" id="txtCheckOutDate" disabled>
                </div>
                <div class="form-group ">
                    <label for="txtFinishdate">Hạn trả:</label>
                    <input type="date" class="form-control" id="txtDueDate" >
                </div>
                <div class="form-group ">
                    <label for="txtLockedDay">Ghi chú:</label>
                    <input type="text" class="form-control" id="txtNote">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success " style="float: right;margin-left:15px; " onclick="Save()">Lưu</button>
                <button class="btn btn-danger" style="float: right" onclick="Cancel()">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div>

@* modal xác nhận ghi mượn*@
<div class="modal" id="ModalCheckduplicate">
    <div class="modal-dialog" style="max-width: 550px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xác nhận ghi mượn</h4>
                <button type="button" class="close" onclick="CancelUpdate()">&times;</button>
            </div>
            <div class="modal-body">
                <p id="notifyMessage" style="color:red;"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success " style="float: right;margin-left:15px; " onclick="ContinueUpdate()">Tiếp tục ghi mượn</button>
                <button type="button" class="btn btn-danger" style="float: right" onclick="CancelUpdate()">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" value="@ViewBag.message" id="hiddenmessage">
<input type="hidden" value="@ViewBag.HiddenCheckduplicate" id="hiddenCheckduplicate" />
<input type="hidden" value="@ViewBag.HiddenDuplicateCopyNumber" id="hiddenDuplicateCopyNumber" />
