@using Libol.Models;
@{
    ViewBag.Title = "Xếp giá";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.form-inline label.col-md-5 {
        justify-content: flex-end;
    }

    div.form-inline label.col-md-7 {
        justify-content: right;
    }

    .form-control {
        margin-left: 2px;
    }

    .form-row {
        margin-top: 10px;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 70px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @@-webkit-keyframes animatetop {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    @@keyframes animatetop {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .modal-header {
        padding: 2px 16px;
        display: block;
    }

    .modal-body {
        padding: 2px 16px;
    }

    .modal-footer {
        padding: 2px 16px;
        display: block;
    }
</style>

<link rel="stylesheet" type="text/css" href="~/Content/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/Select-1.3.0/css/select.bootstrap4.css">
<script type="text/javascript" charset="utf8" src="~/Content/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="~/Content/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>
<script type="text/javascript" charset="utf8" src="~/Content/DataTables/Select-1.3.0/js/dataTables.select.js"></script>
<script type="text/javascript" charset="utf8" src="~/Content/DataTables/DataTables-1.10.18/js/dataTables.checkboxes.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
<form>
    @{
        List<ACQ_ACQUIRE_SOURCE> listNBS = ViewData["ListNBS"] as List<ACQ_ACQUIRE_SOURCE>; // list NBS
        List<CIR_LOAN_TYPE> listKTL = ViewData["listKTL"] as List<CIR_LOAN_TYPE>; // list KTL
        List<ACQ_CURRENCY> listCurrency = ViewData["ListCurrency"] as List<ACQ_CURRENCY>; // ListCurrency
        List<HOLDING_LIBRARY> listHoldingLibrary = ViewData["listLibs"] as List<HOLDING_LIBRARY>; // listHoldingLibrary
        List<HOLDING_LOCATION> listHoldingLocation = ViewData["listLocs"] as List<HOLDING_LOCATION>; // list KTL
        List<SP_HOLDING_REMOVE_REASON_SEL_Result> listDeleteReason = ViewData["ListDeleteReason"] as List<SP_HOLDING_REMOVE_REASON_SEL_Result>; // list Delete reason

    }

    @if (ViewBag.content != null)
    {
        <div style=" margin-top: 0.5rem">@ViewBag.content.Split('@')[0]<strong>@ViewBag.content.Split('@')[1]</strong>@ViewBag.content.Split('@')[2]</div>
        <div>@ViewBag.content.Split('@')[3]</div>

    }
    @if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
    {
        <span style="color:red">@ViewBag.AlertMessage</span>
    }
    <div class="form-group col-md-12 form-inline">
        <div class="form-row col-md-12">
            <div class="form-group col-md-6">
                <label class="col-md-6">Mã Tài Liệu</label>
                <input type="text" class="form-control" id="txtCode" value="@Request.QueryString["Code"]">
                <button type="button" id="btnCodeFind" class="btn btn-primary form-control" onclick="ShowSearchCodeForm()">Tìm</button>

            </div>
            <div class="form-group col-md-6">
                <label class="col-md-6">Mã Đề Nghị</label>
                <input type="text" class="form-control" id="txtRecommendID" placeholder="">

            </div>

        </div>
        <label style="margin-top:10px"><h5>Thông tin xếp giá bổ sung</h5></label>
        <div class="form-row col-md-12 form-inline">
            <div class="form-group col-md-4">
                <label class="col-md-6">Nguồn bổ sung</label>
                <select class="form-control" name="nbsList" id="nbsList" style="width: 191px">
                    @{
                        foreach (ACQ_ACQUIRE_SOURCE item in listNBS)
                        {
                            <option value="@item.ID">@item.Source</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col-md-8">
                <label class="col-md-3">Kiểu tư liệu(lưu thông)</label>
                <select class="form-control" name="ktlList" id="ktlList">
                    @{
                        foreach (CIR_LOAN_TYPE item in listKTL)
                        {
                            <option value="@item.ID">@item.LoanType</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-row col-md-12 form-inline">
            <div class="form-group col-md-4">
                <label class="col-md-6">Ngày bổ sung</label>
                <div class="form-group"><input class="form-control" type="date" style="width: 191px" value="@string.Format("{0:yyyy-MM-dd}", System.DateTime.Now)" id="acquiredDate" /></div>
            </div>
            <div class="form-group col-md-8">
                <label class="col-md-3">Đơn giá</label>
                <input type="text" class="form-control col-md-3" id="txtPrice" placeholder="1234">
                <select class="form-control" name="ktlList" id="currencyList" onchange="selectCurrency();">
                    @{
                        foreach (ACQ_CURRENCY item in listCurrency)
                        {
                            if (item.CurrencyCode.Trim().Equals("VND"))
                            {
                                <option value="@item.Rate" selected>@item.CurrencyCode</option>
                            }
                            else
                            {
                                <option value="@item.Rate">@item.CurrencyCode</option>
                            }

                        }
                    }
                </select>
                <label class="col-md-2">Tỉ giá hạch toán</label>
                <label type="text" class="form-control col-md-1" id="itemRate">1</label>
            </div>
        </div>
        <div class="form-row col-md-12 form-inline">
            <div class="form-group col-md-4">
                <label class="col-md-6">Số chứng từ</label>
                <input type="text" style="width: 191px" class="form-control" id="txtSCT" placeholder="1234">
            </div>
            <div class="form-group col-md-8">
                <label class="col-md-3">Ngày chứng từ</label>
                <div class="form-group"><input class="form-control" type="date" value="@string.Format("{0:yyyy-MM-dd}", System.DateTime.Now)" id="receiptedDate" /></div>
            </div>
        </div>

        <label style="margin-top:10px"><h5>Thông tin vị trí xếp giá</h5></label>
        <div class="form-row col-md-12 form-inline">
            <div class="form-group col-md-4">
                <label class="col-6">Thư viện</label>
                <select class="form-control col-5" name="libraryList" id="libraryList" onchange="SelectHolding();">
                    <option value="-1">----- Chọn -----</option>
                    @{
                        foreach (HOLDING_LIBRARY item in listHoldingLibrary)
                        {
                            <option value="@item.ID">@item.AccessEntry</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group col-md-4">
                <label class="col-3">Kho</label>
                <select class="form-control col-8" name="HoldingList" id="HoldingList">
                    <option value="-1">----- Chọn -----</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label class="col-4">Giá Sách</label>
                <input type="text" class="form-control col-7" id="txtShelf">
            </div>
        </div>
        <div class="form-row col-md-12 form-inline">
            <div class="form-group col-md-4">
                <label class="col-6">Số lượng</label>
                <input type="text" class="form-control col-5" id="txtNumberOfCN">

            </div>
            <div class="form-group col-md-4">
                <label class="col-3">Đăng kí cá biệt</label>
                <input type="text" class="form-control col-5" id="txtCopyNumber" readonly>
                <button type="button" class="btn btn-primary form-control col-3" onclick="GenCopyNumber()">Sinh giá trị</button>
            </div>
        </div>
        <div style="width: 100%;text-align:center">
            <button type="button" class="btn btn-success form-control col-md-4" style="margin: 20px;width: 120px;" onclick="InsertHoldings()">Bổ sung</button>
        </div>

        <label style="margin-top:10px"><h5>Thông tin xếp giá hiện thời</h5></label>
        <div class="form-row col-md-12">
            <label class="control-label col-md-5">Tổng số ĐKCB : </label>
            <label class="col-md-7 text-left" id="labNumberOfRecord" style="color: red">0</label>
        </div>
        <div class="form-row col-md-12">
            <label class="control-label col-md-5">Dữ liệu ĐKCB tổng hợp : </label>
            <label class="col-md-7 text-left" style="color: red;" id="lblCopyDataVal"></label>
        </div>
        <div class="form-row col-md-12">
            <label class="control-label col-md-5">Tổng số bản rỗi : </label>
            <label class="control-label col-md-7" id="lblSumFreeCopy" style="color: red">0</label>
        </div>

        <div class="form-row col-md-12 text-center">
            <div style="margin : auto">
                <button type="button" class="btn btn-primary form-control" onclick="PrintBarcode()" id="PrintLabelBtn">In mã vạch(v)</button>
                <button type="button" class="btn btn-primary form-control" onclick="PrintLabel()" id="PrintBarcodeBtn">In nhãn gáy(g)</button>
            </div>
        </div>

    </div>
</form>


<script>

    var input = document.getElementById("txtCode");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            window.location.href = "/Shelf/Index?Code=" + input.value;
        }
    });
    function selectCurrency() {
        var item = $("#currencyList :selected").val();
        $('#itemRate').text(item);
    };
    function SelectHolding() {
        var item = $("#libraryList :selected").val();
        $.ajax({
            url: "/Shelf/SelectHolding",
            data: JSON.stringify({ libID: item }),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = "<option value='-1'>----- Chọn -----</option>"
                for (r in result) {
                    html = html + "<option value=" + result[r].ID + ">" + result[r].Symbol + ":" + result[r].CodeLoc + "</option>"
                }
                document.getElementById("HoldingList").innerHTML = html;

            },
            error: function (errormessage) {

            }

        });
    }

    function GenCopyNumber() {
        var locationID = $('#HoldingList').find(":selected").val();
        var data = { locId: locationID };
        $.ajax({
            url: "/Shelf/GenCopyNumber",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                $("#txtCopyNumber").val(result["Data"]);
            },
            error: function (error) {
                alert(error);
            }
        });
    }

    function InsertHoldings() {
        var numberOfCopyNumber = document.getElementById("txtNumberOfCN").value;
        var copyNumber = document.getElementById("txtCopyNumber").value;
        if (numberOfCopyNumber === "") {
            alert("Hãy nhập số lượng ĐKCB");
            document.getElementById("txtNumberOfCN").focus();
            return;
        }
        var libID = $("#libraryList :selected").val();
        var locID = $('#HoldingList').find(":selected").val();
        var loanTypeID = $("#ktlList :selected").val();
        var currency = $("#currencyList :selected").text();
        var rate = $("#currencyList :selected").val();
        var acquiredSourceID = $("#nbsList :selected").val();
        var price = document.getElementById("txtPrice").value;
        var txtShelf = document.getElementById("txtShelf").value;
        var acquiredDate = document.getElementById("acquiredDate").value;
        var receiptedDate = document.getElementById("receiptedDate").value;
        var recordNumber = document.getElementById("txtSCT").value;
        var recommendID = document.getElementById("txtRecommendID").value;
        var itemID = -1;

        if (price === "") {
            alert("Hãy nhập đơn giá");
            document.getElementById("txtPrice").focus();
            return;
        }
        if ('@ViewBag.itemID' != '') {
            itemID = '@ViewBag.itemID';
        }

        var data = {
            holding: {
                // getItemID
                ItemID: itemID,
                LocationID: locID,
                LibID: libID,
                Price: price,
                Shelf: txtShelf,
                AcquiredDate: acquiredDate,
                ReceiptedDate: receiptedDate,
                LoanTypeID: loanTypeID,
                AcquiredSourceID: acquiredSourceID,
                Currency: currency,
                Rate: rate,
                RecordNumber: recordNumber,
                CopyNumber: copyNumber
            },
            numberOfCN: numberOfCopyNumber,
            recommendID: recommendID,
        };


        $.ajax({
            url: "/Shelf/InsertHolding",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                
                if (data["Message"] === "") {
                    document.getElementById("lblCopyDataVal").innerHTML = data["Composite"];
                    alert("Bổ sung thành công");
                    $('#table_holdinglist').DataTable().ajax.reload(null, false);
                } else {
                    alert(data["Message"]);
                }

            },
            error: function (error) {
                alert(error);
            }

        });
    }

    $(document).ready(function () {
        document.getElementById("txtNumberOfCN").value = "1";
        var code = '@Request.QueryString["Code"]' ;
        var table = $("#table_holdinglist").DataTable({

            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,

            "ajax": {
                "url": "/Shelf/LoadTableHolding",
                "type": "POST",
                "datatype": "json",
                async: false,
                "data": {
                    "code": code,
                },
                dataSrc: function (data) {
                    console.log(data);
                    $("#lblSumFreeCopy").text("" + data.numberOfFreeCopies);
                    $("#lblCopyDataVal").append(data.compositeHolding);
                    $("#labNumberOfRecord").text("" + data.numberRecord);
                    codeItemToPrint = data.codeItemToPrint;
                    return data.data; //access the data variable from the returned JSON
                }
            },


            "columnDefs": [{

                    'targets': 0,
                    'checkboxes': {
                        'selectRow': true
                    },
                    'render': function () {
                        return '';
                    }

            },
            {
                "targets": [1],
                "visible": false,
                "searchable": false
            }
                ,
            {
                "targets": [2],
                "visible": false,
                "searchable": false
            }
                ,
            {
                "targets": [3],
                "visible": false,
                "searchable": false
            }
            ],
            //"select": {
            //    style: 'os',
            //    selector: 'td:first-child'
            //},
            'select': {
                'style': 'multi',
                'selector': 'tr:not(.no-select)'
            },
            "columns": [
                {
                    "data": null,
                    "defaultContent": ""
                },
                { "data": "ID", "name": "ID" },
                { "data": "LibID", "name": "LibID" },
                { "data": "LocID", "name": "LocID" },
                { "data": "Library", "name": "Library" },
                { "data": "Location", "name": "Location" },
                { "data": "Shelf", "name": "Shelf" },
                { "data": "Volume", "name": "Volume" },
                { "data": "CallNumber", "name": "CallNumber" },
                { "data": "CopyNumber", "name": "CopyNumber" },
                { "data": "Price", "name": "Price" },
                { "data": "Currency", "name": "Currency" },
                { "data": "RecordNumber", "name": "RecordNumber" },               
                { "data": "AcquiredDate", "name": "AcquiredDate" },
                { "data": "ReceiptedDate", "name": "ReceiptedDate" },
                { "data": "AcquiredSource", "name": "AcquiredSource" },
                { "data": "Note", "name": "Note" },
                { "data": "Status", "name": "Status", "orderable": "false" },
                {
                    "render": function (data, type, full, meta) {
                        return '<button class="btn btn-info" style="font-size: 13px"  onclick="ShowUpdateForm(' + "'"
                            + full.ID + "'," +
                            "'" + full.LibID + "'," +
                            "'" + full.LocID + "'," +
                            "'" + full.Library + "'," +
                            "'" + full.Location + "'," +
                            "'" + full.Volume + "'," +
                            "'" + full.CallNumber + "'," +
                            "'" + full.CopyNumber + "'," +
                            "'" + full.Shelf + "'," +
                            "'" + full.Currency + "'," +
                            "'" + full.RecordNumber + "'," +
                            "'" + full.Price + "'," +
                            "'" + full.ReceiptedDate + "'," +
                            "'" + full.AcquiredDate + "'," +
                            "'" + full.AcquiredSource + "'," +
                            "'" + full.Note
                            + "'" + ')">Sửa</button>';
                    }
                },

            ],
            'rowCallback': function (row, data, index) {
                if (data.Status.includes("Chưa kiểm nhận")) {
                    $(row).removeClass('no-select');
                } else {
                    $('td:eq(0)', row).html('');
                    $(row).addClass('no-select');

                }
            },
            "order": [
                [9, 'asc']
            ],
        });



        $('#table_holdinglist').on('click', '#select_all', function () {
            if ($('#select_all:checked').val() === 'on') {
                table.rows({ search: 'applied' }).select();
            }
            else {
                table.rows().deselect();
            }
        });

        table.on('select.dt', function (e, dt, type, indexes) {
            table.cells('tr.no-select', 0)[0].forEach(myFunction);
            function myFunction(item, index) {
                table.row(item["row"]).deselect();
            }
        });

    });

    function delete_holdings() {

        var selectedRows = $('#table_holdinglist').DataTable().rows('.selected').data();
        var copynumberList = new Array();
        for (var i = 0; i < selectedRows.length; i++) {
            copynumberList.push(selectedRows[i]["ID"]);
        }
        var deleteReasonID = $('#deleteReasonList').find(":selected").val();

        var data = {
            CopynumberList: copynumberList,
            DeleteReasonID: deleteReasonID
        };

        $.ajax({
            url: "/Shelf/DeleteHolding",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (message) {
                    alert(message["Message"]);
                    $('#table_holdinglist').DataTable().ajax.reload(null, false);
            },
            error: function (error) {
                alert(error);
            }

        });
    };

    function receiveUnlock() {

        var HoldingStatusList = new Array();
        var data = $('#table_holdinglist').DataTable().rows('.selected').data();
        for (var i = 0; i < data.length; i++) {
            HoldingStatusList.push({
                HoldingID: data[i]["ID"],
                LibID: data[i]["LibID"],
                LocID: data[i]["LocID"],
                Shelf: data[i]["Shelf"],
                Mode: 3,
                IsNew: 0,
            });
        }
        var data = { statusList: HoldingStatusList };
        $.ajax({
            url: "/Shelf/ChangeStatus",
            type: "POST",
            data: JSON.stringify(HoldingStatusList),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                alert(result["Message"]);
                $('#table_holdinglist').DataTable().ajax.reload(null, false);
            },
            error: function (error) {
                alert(error);
            }

        });
    }

    var ID_Update;
    var LibID_Update;
    var LocID_Update;
    var Library_Update;
    var Location_Update;
    var Volume_Update;
    var CallNumber_Update;
    var CopyNumber_Update;
    var Shelf_Update;
    var Currency_Update;
    var RecordNumber_Update;
    var Price_Update;
    var RecordNumber_Update;
    var ReceiptedDate_Update;
    var AcquiredDate_Update;
    var AcquiredSource_Update;
    var Note_Update;



    function ShowUpdateForm(ID,
        LibID,
        LocID,
        Library,
        Location,
        Volume,
        CallNumber,
        CopyNumber,
        Shelf,
        Currency,
        RecordNumber,
        Price,
        ReceiptedDate,
        AcquiredDate,
        AcquiredSource,
        Note
    ) {


         ID_Update = ID;
        LibID_Update = LibID;
        LibID_Update = LocID;
        Library_Update = Library;
        Location_Update = Location;
        Volume_Update = Volume;
        CallNumber_Update = CallNumber;
        CopyNumber_Update = CopyNumber;
        Shelf_Update = Shelf;
        Currency_Update = Currency;
        RecordNumber_Update = RecordNumber;
        Price_Update = Price;
        Currency_Update = Currency;

        var receipted = ReceiptedDate.split("/");
        var receiptedDate = receipted[2] + "-" + receipted[1] + "-" + receipted[0];

        ReceiptedDate_Update = ReceiptedDate;

        var from = AcquiredDate.split("/");
        var acquiredDate = from[2] + "-" + from[1] + "-" + from[0];

        AcquiredDate_Update = AcquiredDate;
        AcquiredSource_Update = AcquiredSource;
        Note_Update = Note;

        if (Shelf == "null") {
            Shelf = "";
        }
        if (Volume == "null") {
            Volume = "";
        }
        if (CallNumber == "null") {
            CallNumber = "";
        }
        if (RecordNumber == "null") {
            RecordNumber = "";
        }
        if (Price == "null") {
            Price = "";
        }
        if (Note == "null") {
            Note = "";
        }
        document.getElementById("txtShelf2").value = Shelf ;
        document.getElementById("txtVolume2").value = Volume;
        document.getElementById("txtPrice2").value = Price;
        document.getElementById("txtCallNumber2").value = CallNumber;
        document.getElementById("txtRecordNumber2").value = RecordNumber;
        document.getElementById("txtAcquiredDate2").value = acquiredDate;
        document.getElementById("txtReceiptedDate2").value = receiptedDate;
        document.getElementById("txtNote2").value = Note;

        var currency = Currency.replace(/\s/g, '');
        var row = document.getElementById(currency);
        var indexCurrentcy = row.index;
        document.getElementById("currencyList2").selectedIndex = indexCurrentcy;
        document.getElementById("EditPopup").style.display = "block";

        var acquiredSource = document.getElementById(AcquiredSource);
        var indexAcquiredSource = acquiredSource.index;
        document.getElementById("acquiredSource").selectedIndex = indexAcquiredSource;

    }
    function CancelUpdate() {
        document.getElementById("EditPopup").style.display = "none";
    }
    function Save() {

        Volume_Update = document.getElementById("txtVolume2").value ;
        CallNumber_Update = document.getElementById("txtCallNumber2").value ;

        Shelf_Update = document.getElementById("txtShelf2").value;
        Currency_Update = $("#currencyList2 :selected").text();
        RecordNumber_Update = document.getElementById("txtRecordNumber2").value ;

        Price_Update = document.getElementById("txtPrice2").value;
       // ReceiptedDate_Update = ReceiptedDate;
        AcquiredDate_Update = document.getElementById("txtAcquiredDate2").value;
        ReceiptedDate_Update = document.getElementById("txtReceiptedDate2").value;
      //  AcquiredSource_Update = AcquiredSource;
        AcquiredSource_Update = $("#acquiredSource :selected").val();
        Note_Update = document.getElementById("txtNote2").value;

        var data = {
            holdingUpdate: {
                ID:ID_Update ,
                LibID:LibID_Update,
                Library:Library_Update,
                Location:Location_Update,
                Volume:Volume_Update,
                CallNumber:CallNumber_Update,
                CopyNumber:CopyNumber_Update,
                Shelf:Shelf_Update,
                Currency:Currency_Update,
                RecordNumber:RecordNumber_Update,
                Price:Price_Update,
                RecordNumber: RecordNumber_Update ,
                ReceiptedDate: ReceiptedDate_Update ,
                AcquiredDate: AcquiredDate_Update ,
                AcquiredSource: AcquiredSource_Update,
                Note: Note_Update
            }
        };
        $.ajax({
            url: "/Shelf/UpdateHolding",
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                alert(result["Message"]);
                $('#table_holdinglist').DataTable().ajax.reload(null, false);
                document.getElementById("EditPopup").style.display = "none";
            },
            error: function (error) {
                alert(error);
            }

        });
    }

    function ShowSearchCodeForm(){
        document.getElementById("SearchCodePopup").style.display = "block";
    }
    function CloseSearchCodeForm() {
        document.getElementById("SearchCodePopup").style.display = "none";
    }

    function ResetFields() {
        document.getElementById("txtTitle2").value ="";
        document.getElementById("txtCopyNumber2").value = "";
        document.getElementById("txtAuthor2").value = "";
        document.getElementById("txtPublisher2").value = "";
        document.getElementById("txtYear2").value = "";
        document.getElementById("txtISBN2").value = "";
        document.getElementById("result-search-table").style.display = "none";
    }

    function SearchItem() {

        var title = document.getElementById("txtTitle2").value;
        var  copynumber= document.getElementById("txtCopyNumber2").value;
        var   author= document.getElementById("txtAuthor2").value;
        var   publisher= document.getElementById("txtPublisher2").value;
        var   year= document.getElementById("txtYear2").value;
        var   isbn= document.getElementById("txtISBN2").value;
        var displayForm = false;
        var table = $("#table").DataTable({

            ajax: {
                url: "/Shelf/SearchItem",
                type: "POST",
                async: false,
                datatype: "json",
                data: {
                    "title": title,
                    "copynumber": copynumber,
                    "author": author,
                    "publisher": publisher,
                    "year": year,
                    "isbn": isbn,
                },
                dataSrc: function (data) {
                    if (data.Message != "") {
                        alert(data.Message);
                        displayForm = false;
                    } else {
                        displayForm = true;
                    }
                    return data.data; //access the data variable from the returned JSON
                }
            },

            columns: [
                { "data": "Title", "name": "Title" },
                {
                    "render": function (data, type, full, meta) {
                        return '<a href="/shelf/Index?Code=' + full.Code + '">' + full.Code+'</a>';
                    }
                },

            ],
        });
        $('#numberOfCode').text(table.rows().count());
        if (displayForm) {
            document.getElementById("result-search-table").style.display = "block";
        }
        table.destroy();
    }

    var codeItemToPrint = "";

    function PrintLabel() {
        window.location.href = "/PrintLabel?strFromItemCode=" + codeItemToPrint + "&strToItemCode=" + codeItemToPrint;
    }
    function PrintBarcode() {
        window.location.href = "/PrintBarcode?strFromItemCode=" + codeItemToPrint + "&strToItemCode=" + codeItemToPrint;
    }
</script>

<table id="table_holdinglist" class="table table-striped table-bordered datatables" style="font-size: 13px">
    <thead>
        <tr>
            <th style="text-align: center;"><input type="checkbox" id="select_all" /></th>
            <th>ID</th>
            <th>LibID</th>
            <th>LocID</th>
            <th>Thư viện</th>
            <th>Kho</th>
            <th>Giá sách</th>
            <th>Tập</th>
            <th>Số định danh</th>
            <th>ĐKCB</th>
            <th>Giá tiền</th>
            <th>Đơn vị</th>
            <th>Số chứng từ</th>
            <th>Ngày chứng từ</th>
            <th>Ngày bổ sung</th>
            <th>Nguồn bổ sung</th>
            <th>Ghi chú</th>
            <th>Trạng thái</th>
            <th>Sửa</th>
        </tr>
    </thead>
</table>

<div>
    <label class="control-label">Lý do loại bỏ</label>
    <select name="deleteReasonList" id="deleteReasonList">
        @{
            foreach (SP_HOLDING_REMOVE_REASON_SEL_Result item in listDeleteReason)
            {
                <option value="@item.ID">@item.REASON</option>
            }
        }
    </select>
    <button type="button" class="btn btn-danger" onclick="delete_holdings()">Loại bỏ</button>
    <button type="button" class="btn btn-success" onclick="receiveUnlock()">Kiểm nhận/ Mở khóa</button>
</div>

<!-- The Modal -->
<div id="EditPopup" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span onclick="CloseSearchCodeForm()" class="close">&times;</span>
            <h4 style="text-align: center">Cập nhật xếp giá</h4>
        </div>
        <div class="modal-body">

            <table style="width: 100%">
                <tr>
                    <td style="width: 38%;text-align: right"><label for="txtPrice2">Giá tiền:</label></td>
                    <td style="width: 30%"><input type="text" class="form-control" id="txtPrice2"></td>
                    <td style="">
                        <select class="form-control" name="ktlList" id="currencyList2" style="width: 40%">
                            @{
                                foreach (ACQ_CURRENCY item in listCurrency)
                                {
                                    <option value="@item.Rate" id="@System.Text.RegularExpressions.Regex.Replace(@item.CurrencyCode, @"\s+", "")">@item.CurrencyCode</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width: 38%;text-align: right"><label for="txtVolume2">Tập:</label></td>
                    <td style=""><input type="text" class="form-control" id="txtVolume2"></td>
                </tr>
                <tr>
                    <td style="width: 38%;text-align: right"><label for="txtCallNumber2">Số định danh:</label></td>
                    <td style=""><input type="text" class="form-control" id="txtCallNumber2" readonly></td>
                </tr>
                <tr>
                    <td style="width: 38%;text-align: right"><label for="txtShelf2">Giá sách:</label></td>
                    <td style=""><input type="text" class="form-control" id="txtShelf2"></td>
                </tr>
                <tr>
                    <td style="width: 38%;text-align: right"><label for="txtAcquiredDate2">Ngày chứng từ:</label></td>
                    <td style=""><input type="date" class="form-control" id="txtAcquiredDate2"></td>
                </tr>
                <tr>
                    <td style="width: 38%;text-align: right"><label for="txtReceiptedDate2">Ngày bổ sung:</label></td>
                    <td style=""><input type="date" class="form-control" id="txtReceiptedDate2"></td>
                </tr>
                <tr>
                    <td style="width: 38%;text-align: right"><label for="acquiredSource">Nguồn bổ sung:</label></td>
                    <td style="">
                        <select class="form-control" name="acquiredSource" id="acquiredSource" style="width: 40%">
                            @{
                                foreach (ACQ_ACQUIRE_SOURCE item in listNBS)
                                {
                                    <option value="@item.ID" id="@item.Source">@item.Source</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width: 38%;text-align: right"><label for="txtRecordNumber2">Số chứng từ:</label></td>
                    <td style=""><input type="text" class="form-control" id="txtRecordNumber2"></td>
                </tr>
                <tr>
                    <td style="width: 38%;text-align: right"><label for="txtNote2">Ghi chú: </label></td>
                    <td style=""><input type="text" class="form-control" id="txtNote2"></td>
                </tr>
            </table>
        </div>

        <div class="modal-footer" style="text-align: center">
            <button class="btn btn-success " style="float: right;margin-left:15px; " onclick="Save()">Lưu</button>
            <button class="btn btn-danger" style="float: right" onclick="CancelUpdate()">Hủy bỏ</button>
        </div>
    </div>

</div>

<div id="SearchCodePopup" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span  class="close">&times;</span>
            <h4 style="text-align: center">Tìm kiếm biểu ghi biên mục</h4>
        </div>
        <div class="modal-body">

            <table style="width: 100%">
                <tr>
                    <td style="width: 38%;text-align: right"><label for="txtTitle2">Nhan đề chính</label></td>
                    <td style=""><input type="text" class="form-control" id="txtTitle2" style="width: 300px;margin-left: 20px;"></td>
                </tr>
                <tr>
                    <td style="width: 38%;text-align: right"><label for="txtCopyNumber2">Đăng ký cá biệt</label></td>
                    <td style=""><input type="text" class="form-control" id="txtCopyNumber2" style="width: 300px;margin-left: 20px;"></td>
                </tr>
                <tr>
                    <td style="width: 38%;text-align: right"><label for="txtAuthor2">Tác giả</label></td>
                    <td style=""><input type="text" class="form-control" id="txtAuthor2" style="width: 300px;margin-left: 20px;"></td>
                </tr>
                <tr>
                    <td style="width: 38%;text-align: right"><label for="txtPublisher2">Nhà xuất bản</label></td>
                    <td style=""><input type="text" class="form-control" id="txtPublisher2" style="width: 300px;margin-left: 20px;"></td>
                </tr>
                <tr>
                    <td style="width: 38%;text-align: right"><label for="txtYear2">Năm xuẩt bản</label></td>
                    <td style=""><input type="text" class="form-control" id="txtYear2" style="width: 300px;margin-left: 20px;"></td>
                </tr>
                <tr>
                    <td style="width: 38%;text-align: right"><label for="txtISBN2">ISBN</label></td>
                    <td style=""><input type="text" class="form-control" id="txtISBN2" style="width: 300px;margin-left: 20px;"></td>
                </tr>
            </table>

        </div>
        <div style="text-align: center; border-top: 1px solid rgb(222, 226, 230);border-bottom: 2px solid black;padding:10px 0 10px 0;margin:10px 0 10px 0">
            <button class="btn btn-success " onclick="SearchItem()">Tìm</button>
            <button class="btn btn-primary" onclick="ResetFields()">Đặt lại</button>
            <button class="btn btn-danger" onclick="CloseSearchCodeForm()">Đóng</button>
        </div>

        <div id="result-search-table" style="display: none">
            <div style="background-color: lightgray;width: 100%;text-align:center">Tìm thấy <span id="numberOfCode" style="color: red">0</span> bản ghi biên mục</div>
            <table id="table" class="table table-striped table-bordered datatables">
                <thead>
                    <tr>
                        <th>Nội dung</th>
                        <th>Mã tài liệu</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>

</div>