<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <style>
        .caps::first-letter {
            text-transform: capitalize;
        }

        .hide {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            var len = @ViewBag.Result.Count + 3;
            var table1 = $("#table1").DataTable({
                paging: false,
                searching: false,
                info: false,
                order: false,
                buttons: [{
                    extend: 'excelHtml5',
                    title: function () { var printTitle = 'Bổ sung - Báo cáo hàng tháng'; return printTitle; },
                    customize: function (xlsx) {
                        var sheet = xlsx.xl.worksheets['sheet1.xml'];
                        // make bold-text in row which has index is len
                        $('row:eq(' + len + ') c', sheet).attr('s', '2');
                        $('row:eq(' + (2*len - 1) +') c', sheet).attr('s', '2');
                    }
                }],
            });
            var table2 = $("#table2").DataTable({
                paging: false,
                searching: false,
                info: false,
                order: false,
            });
            var table3 = $("#table3").DataTable({
                paging: false,
                searching: false,
                info: false,
                order: false,
            });
            if (document.getElementById("table1") != null) {
                var tbl2_th = document.getElementById("tbl2_th").innerHTML;
                var tbl3_th = document.getElementById("tbl3_th").innerHTML;
                var data_tbl2 = [
                    ["", ""],
                    ["Tháng", tbl2_th],

                ];
                var data_tbl3 = [
                    ["", ""],
                    ["Tháng", tbl3_th],

                ];
                table1.rows.add(data_tbl2).draw()
                    .nodes()
                    .to$()
                    .addClass('hide');
                table1.rows.add(table2.data().toArray()).draw()
                    .nodes()
                    .to$()
                    .addClass('hide');
                table1.rows.add(data_tbl3).draw()
                    .nodes()
                    .to$()
                    .addClass('hide');
                table1.rows.add(table3.data().toArray()).draw()
                    .nodes()
                    .to$()
                    .addClass('hide');
            }

            //tableToExport.rows.add(table2.data().toArray()).draw();
            //console.log(tableToExport.data());
            $("#ExportReporttoExcel").on("click", function () {
                table1.button('.buttons-excel').trigger();
            });
        });
        /**/</script>
</head>
@{
    int sum1 = 0;
    int sum2 = 0;
    double sum3 = 0;
}
@if (ViewBag.Result.Count < 1)
{
    <h5 class="text-center">Không có dữ liệu</h5>
}
else
{
    <div id="Main">
        <table align="center">
            <tr valign="top">
                <td style="width: 35%;">
                    <div id="table_div1" style="margin-top: 150px;">
                        <h4 id="stat1" style="margin-left:50px;">Số đầu ấn phẩm</h4><br />
                        <table id="table1" class="WordSection1 table-striped table-bordered" style="margin-left:50px; border: thin;" border="1">
                            <thead>
                                <tr>
                                    <th style="text-align:center" width="80px">Tháng</th>
                                    <th style="text-align:center">Số đầu ấn phẩm</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Result)
                                {
                                    <tr>
                                        <td style="text-align:center">@item.Month-@item.Year</td>
                                        <td style="text-align:center">@item.BooksTotal</td>
                                    </tr>
                                    sum1 += item.BooksTotal;
                                }
                            </tbody>
                        </table>
                    </div>
                </td>
                <td style="width: 65%;">
                    <div id="columnchart_values1" style="width: 900px; height: 700px;"></div>
                </td>
            </tr>
        </table>
        <table align="center">
            <tr valign="top">
                <td style="width: 35%;">
                    <div id="table_div2" style="margin-top: 150px;">
                        <h4 id="stat2" style="margin-left:50px;">Số bản ấn phẩm</h4><br />
                        <table id="table2" class="WordSection1 table-striped table-bordered" style="margin-left:50px; border: thin;" border="1">
                            <thead>
                                <tr>
                                    <th style="text-align:center" width="80px">Tháng</th>
                                    <th id="tbl2_th" style="text-align:center">Số bản ấn phẩm</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Result)
                                {
                                    <tr>
                                        <td style="text-align:center">@item.Month-@item.Year</td>
                                        <td style="text-align:center">@item.CopiesTotal</td>
                                    </tr>
                                    sum2 += item.CopiesTotal;
                                }
                            </tbody>
                        </table>
                    </div>
                </td>
                <td style="width: 65%;">
                    <div id="columnchart_values2" style="width: 900px; height: 700px;"></div>
                </td>
            </tr>
        </table>
        <table align="center">
            <tr valign="top">
                <td style="width: 35%;">
                    <div id="table_div3" style="margin-top: 150px;">
                        <h4 id="stat3" style="margin-left:50px;">Số chi phí</h4><br />
                        <table id="table3" class="WordSection1 table-striped table-bordered" style="margin-left:50px; border: thin;" border="1">
                            <thead>
                                <tr>
                                    <th style="text-align:center" width="80px">Tháng</th>
                                    <th id="tbl3_th" style="text-align:center">Số chi phí</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Result)
                                {
                                    <tr>
                                        <td style="text-align:center">@item.Month-@item.Year</td>
                                        <td style="text-align:center">@item.MoneyTotal</td>
                                    </tr>
                                    sum3 += item.MoneyTotal;
                                }
                            </tbody>
                        </table>
                    </div>
                </td>
                <td style="width: 65%;">
                    <div id="columnchart_values3" style="width: 900px; height: 700px;"></div>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="button" id="ExportReporttoExcel" class="btn btn-primary">Lưu vào file excel</button>
        </div>
    </div>
}
<script type="text/javascript">

    google.charts.load("current", { packages: ['corechart'] });
    @if (ViewBag.Result.Count >= 1)
    {
        <text>
    google.charts.setOnLoadCallback(drawChart1);
    google.charts.setOnLoadCallback(drawChart2);
    google.charts.setOnLoadCallback(drawChart3);
    document.getElementById("stat1").innerHTML = "Số đầu ấn phẩm: " + @sum1;
    document.getElementById("stat2").innerHTML = "Số bản ấn phẩm: " + @sum2;
    document.getElementById("stat3").innerHTML = "Số chi phí: " + @sum3;
        </text>
    }


    function drawChart1() {
        var table = document.getElementById("table1");
        if (table.rows.length <= 1)
            return;
        var len = table.rows.length;
        var arr = [["Tháng", "Số đầu ấn phẩm", { role: "style" }]];
        for (var i = 1; i < len; i++) {
            if (table.rows[i].classList.contains("hide")) continue;
            arr.push([table.rows[i].cells[0].innerHTML, parseInt(table.rows[i].cells[1].innerHTML), "aquamarine1"]);
        }
        var data = google.visualization.arrayToDataTable(arr);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);

        var options = {
            title: "",
            bar: { groupWidth: "50%" },
            legend: { position: "none" },
            hAxis: {
                title: 'Tháng',
            },
            vAxis: {
                title: 'Số lượng bổ sung',
            }

        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values1"));
        chart.draw(view, options);
    }

    function drawChart2() {
        var table = document.getElementById("table2");
        if (table.rows.length <= 1)
            return;
        var len = table.rows.length;
        var arr = [["Tháng", "Số bản ấn phẩm", { role: "style" }]];
        for (var i = 1; i < len; i++) {
            arr.push([table.rows[i].cells[0].innerHTML, parseInt(table.rows[i].cells[1].innerHTML), "aquamarine1"]);
        }
        var data = google.visualization.arrayToDataTable(arr);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);

        var options = {
            title: "",
            bar: { groupWidth: "50%" },
            legend: { position: "none" },
            hAxis: {
                title: 'Tháng',
            },
            vAxis: {
                title: 'Số lượng bổ sung',
            }

        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values2"));
        chart.draw(view, options);
    }

    function drawChart3() {
        var table = document.getElementById("table3");
        if (table.rows.length <= 1)
            return;
        var len = table.rows.length;
        var arr = [["Tháng", "Số chi phí", { role: "style" }]];
        for (var i = 1; i < len; i++) {
            arr.push([table.rows[i].cells[0].innerHTML, parseInt(table.rows[i].cells[1].innerHTML), "aquamarine1"]);
        }
        var data = google.visualization.arrayToDataTable(arr);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);

        var options = {
            title: "",
            bar: { groupWidth: "50%" },
            legend: { position: "none" },
            hAxis: {
                title: 'Tháng',
            },
            vAxis: {
                title: 'Số chi phí',
            }

        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values3"));
        chart.draw(view, options);
    }


</script>

