

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css">

    <script>
        $(document).ready(function () {
            var table = $('#table').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],

                buttons: [
                    {
                        extend: 'excel',
                        title: function () { var printTitle = 'Thống kê danh mục sách nhập'; return printTitle; }
                    },
                    'pdf',
                    'colvis'
                ],
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api(), data;
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    // Total over all pages
                    total = api
                        .column(5)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    // Total over this page
                    pageTotal = api
                        .column(5, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return (intVal(a) + intVal(b)).toFixed(2);
                        }, 0);

                    // Update footer
                    $(api.column(5).footer()).html(
                        pageTotal + ' (' + total.toFixed(2) + ' total)'
                    );
                }
            });

            document.getElementById("Count").innerHTML = "Tổng số lượng: " + table.rows().count();

            $("#ExportReporttoExcel").on("click", function () {
                table.button('.buttons-excel').trigger();
            });

            //$("#ExportReporttoWord").on("click", function () {
            //    table.button('.buttons-word').trigger();
            //});

            $('body').on('click', '#ExportReporttoWord', function (e) {
                $.fn.DataTable.Export.word(table, {
                    filename: 'customer-lists',
                    title: 'Report',
                    message: 'Customer lists',
                    header: [
                        'STT',
                        'Tên sách',
                        'Mã tài liệu',
                        'Tác giả',
                        'Nơi xuất bản',
                        'Nhà xuất bản',
                        'Năm xuất bản',
                        'Số lượng',
                        'DKCB',
                        'Số lượng mượn',
                        'Số lượng tồn'
                    ],
                    field: [
                        0,
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        10
                    ]
                });
            });

            $("#Print").on("click", function () {
                table.button('.buttons-print').trigger();
            });
        });</script>
</head>
<div id="Main">
    @{
        if (ViewBag.Result != null)
        {
            <table id="table" class="table table-striped table-bordered" style="border: thin;" border="1">
                <thead style="text-align: center;">
                    <tr>
                        <th>STT</th>
                        <th>Tên sách</th>
                        <th>Mã tài liệu</th>
                        <th>Tác giả</th>
                        <th>Nơi xuất bản</th>
                        <th>Nhà xuất bản</th>
                        <th>Năm xuất bản</th>
                        <th>Số lượng</th>
                        <th>DKCB</th>
                        <th>Số lượng mượn</th>
                        <th>Số lượng tồn</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int STT = 1;
                    }
                    @foreach (var item in ViewBag.Result)
                    {

                        <tr>
                            <td>@(STT)</td>
                            <td>@item.Content</td>
                            <td>@item.Code</td>
                            <td>@item.tacGia</td>
                            <td>@item.noiXuatBan</td>
                            <td>@item.nhaXuatBan</td>
                            <td>@item.namXuatBan</td>
                            <td>@item.soluong</td>
                            <td>@item.DKCB</td>
                            <td>@item.soluongmuon</td>
                            <td>@item.soluongton</td>
                        </tr>
                        STT++;
                    }
                </tbody>
            </table>
            <div style="text-align: right;">
                <span id="Count"></span>
                <span id="Total"></span>
            </div>
        }
    }
</div>
@{
    if (ViewBag.Result != null)
    {
        <div class="col-md-12 text-center">
            <div class="btn-group btn-group">
                <button type="button" id="ExportReporttoExcel" class="btn btn-primary">Lưu vào file excel</button>
            </div>
        </div>
    }
    else
    {
        <div style="text-align:center; margin-top: 10%"><b>Không tìm thấy kết quả nào</b></div>
    }
}