
@{
    ViewBag.Title = "Báo cáo bổ sung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BaoCaoBoSung</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    @*<link rel="stylesheet" href="assets/css/Header_Libol.css">*@
    @*<link rel="stylesheet" href="assets/css/styles.css">*@
    @*<link rel="stylesheet" href="assets/css/Team-Boxed.css">*@

    <link href="~/Content/multiselect.css" rel="stylesheet" />
    <script src="~/Scripts/multiselect.min.js"></script>
    <style>
        label {
            text-align: right;
        }
    </style>
</head>

<body>
    <div id="result">
        <h5 style="margin-top:20px;">Báo cáo bổ sung</h5>
        <div class="row">
            <div class="col-6">
                <div class="form-group row col-12">
                    <label class="control-label col-md-8 align-self-center">Thư viện</label>
                    @Html.DropDownList("Library", ViewData["lib"] as List<SelectListItem>, new { @class = "form-control col-md-4" })
                </div>
                <div class="form-group row col-12">
                    <label class="control-label col-md-8 align-self-center">Kho</label>
                    @Html.DropDownList("LocationPrefix", new SelectList(string.Empty, "Value", "Text"), "Chọn Kho", new { @class = "form-control col-md-4" })
                </div>

            </div>
            <div class="col-6">
                <div class="form-group row col-12">
                    <label class="control-label col-md-3 align-self-center">Lĩnh vực kho</label>
                    @Html.DropDownList("LocationsByPrefix", new SelectList(string.Empty, "Value", "Text"), "Chọn lĩnh vực", new { @class = "form-control col-md-4", @multiple = true })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group row col-12">
                    <label class="control-label col-md-8 align-self-center">Mã số đơn đặt</label>
                    <input type="number" name="PO" id="RecordNumber" class="form-control col-md-4" pattern="[0-9]{1,10}" min="1" max="2147483647" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group row col-12">
                    <label class="control-label col-md-8 align-self-center">Từ thời gian bổ sung</label>
                    <input class="form-control col-md-4" type="date" id="FromDate" name="StartDate" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row col-12">
                    <label class="control-label col-md-3 align-self-center">Tới thời gian bổ sung</label>
                    <input class="form-control col-md-4" type="date" id="ToDate" name="EndDate" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group row col-12">
                    <label class="control-label col-md-8 align-self-center">Sắp xếp theo ĐKCB</label>
                    <select id='SortBy' name="OrderBy" class="form-control col-md-4">
                        <option name="OrderByasc" value='asc' selected>Tăng dần</option>
                        <option name="OrderBydesc" value='desc'>Giảm dần</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="btn-group btn-group">
                    <button type="button" id="preview" class="btn btn-primary mr-1" onclick="checkValid()">Xem thử</button>
                    <button type="reset" id="reset" class="btn btn-primary">Đặt lại</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#Library").change(function () {
                $("#LocationPrefix").empty();
                $("#LocationsByPrefix").empty();
                $.ajax({
                type: 'POST',
                    url: '@Url.Action("GetLocationsPrefix")', // we are calling json method
                    dataType: 'json',
                    data: { id: $("#Library").val() },
                    success: function (locs) {
                        $.each(locs, function (i, loc) {
                            $("#LocationPrefix").append('<option value="' + loc.Value + '">' +
                                loc.Text + '</option>');
                        });
                    }
                });
                return false;
            });
            $("#LocationPrefix").change(function () {
                $("#LocationsByPrefix").empty();
                $.ajax({
                type: 'POST',
                    url: '@Url.Action("GetLocationsByPrefix")', // we are calling json method
                    dataType: 'json',
                    data: { id: $("#Library").val(), prefix: $("#LocationPrefix").val() },
                    success: function (locs) {
                        $.each(locs, function (i, loc) {
                            $("#LocationsByPrefix").append('<option value="' + loc.Value + '">' +
                                loc.Text + '</option>');
                        });
                    }
                });
                return false;
            });

            document.getElementById("preview").onclick = function () {

                var empObj = {
                    Library: $("#Library").val(),
                    LocationPrefix: $("#LocationPrefix").val(),
                    Location: $("#LocationsByPrefix").val().toString(),
                    StartDate: $("#FromDate").val(),
                    EndDate: $("#ToDate").val(),
                    SortBy: $("#SortBy").val(),
                    ReNumber: $("#RecordNumber").val(),
                };

            if (document.getElementById("Library").value == "") {
                alert("Hãy chọn thư viện");

            } else if (document.getElementById("FromDate").value != "" && document.getElementById("ToDate").value != "" && document.getElementById("FromDate").value > document.getElementById("ToDate").value) {
                alert("Khoảng thời gian thống kê không hợp lệ");
            } else {
                console.log(empObj)
                    $.ajax({
                url: "BaoCaoBoSung_new",
                        data: JSON.stringify(empObj),
                        contentType: "application/json;charset=utf-8",
                        type: "POST",
                        beforeSend: function () {
                            $("#result").html("<h4>Loading...</h4>");
                        },
                        success: function (result) {
                            $("#result").html(result)
                        },
                        error: function (errormessage) {
                        console.log("error");
                    }
                });
            }

        };
    });
        //$('#Form').validate({
        //    rules:{
        //        Library: 'required',
        //        Location: 'required'
        //    }
        //});
    </script>
</body>


