
@{
    ViewBag.Title = "Báo cáo đăng ký cá biệt bị hủy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <style>
        label {
            text-align: right;
        }
    </style>
</head>

<body>
    <h4 style="margin-top:20px;">Báo cáo đăng ký cá biệt bị hủy</h4>
    <div class="row">
        <div class="col-6">
            <div class="form-group row col-12">
                <label class="control-label col-md-8 align-self-center">Mã thanh lý</label>
                <input type="text" class="form-control col-md-4" id="LiquidID" name="LiquidID">
            </div>
            <div class="form-group row col-12">
                <label class="control-label col-md-8 align-self-center">Thư viện</label>
                @Html.DropDownList("Library", ViewData["lib"] as List<SelectListItem>, new { @class = "form-control col-md-4" })
            </div>
            <div class="form-group row col-12">
                <label class="control-label col-md-8 align-self-center">Kho</label>
                @Html.DropDownList("LocationPrefix", new SelectList(string.Empty, "Value", "Text"), "Chọn Kho", new { @class = "form-control col-md-4" })
            </div>

        </div>
        <div class="col-6">
            <div class="form-group row col-12">
                <label class="control-label col-md-3 align-self-center">Lĩnh vực kho</label>
                @Html.DropDownList("LocationsByPrefix", new SelectList(string.Empty, "Value", "Text"), "Chọn lĩnh vực", new { @class = "form-control col-md-4", @multiple = true })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group row col-12">
                <label class="control-label col-md-8 align-self-center">Thời gian bị loại</label>
                <input class="form-control col-md-4" type="date" id="FromDate" name="FromDate" />
            </div>
        </div>
        <div class="col-6 text-left">
            <div class="form-group row col-12">
                <label class="control-label col-md-3 align-self-center">Đến</label>
                <input class="form-control col-md-4" type="date" id="ToDate" name="ToDate" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group btn-group">
                <button type="submit" id="stat" class="btn btn-primary mr-1">Xem thử</button>
                <button type="button" id="reset" class="btn btn-primary" onclick="reset()">Đặt lại</button>
            </div>
        </div>
    </div>
    <div id="ContentStatLiquidation"></div>
</body>
<script type="text/javascript">
        $(document).ready(function () {
            $("#Library").change(function () {
            $("#LocationPrefix").empty();
            $("#LocationsByPrefix").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetLocationsPrefix")', // we are calling json method
                dataType: 'json',
                data: { id: $("#Library").val() },
                success: function (locs) {
                    $.each(locs, function (i, loc) {
                        $("#LocationPrefix").append('<option value="' + loc.Value + '">' +
                            loc.Text + '</option>');
                    });
                }
            });
            return false;
        });
        $("#LocationPrefix").change(function () {
            $("#LocationsByPrefix").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetLocationsByPrefix")', // we are calling json method
                dataType: 'json',
                data: { id: $("#Library").val(), prefix: $("#LocationPrefix").val() },
                success: function (locs) {
                    $.each(locs, function (i, loc) {
                        $("#LocationsByPrefix").append('<option value="' + loc.Value + '">' +
                            loc.Text + '</option>');
                    });
                }
            });
            return false;
            });

        });
</script>
<script>
    document.getElementById("stat").onclick = function () {
        var empObj = {
            strLiquidID: document.getElementById("LiquidID").value,
            strLibID: document.getElementById("Library").value,
            strLocPrefix: document.getElementById("LocationPrefix").value,
            strLocID: $("#LocationsByPrefix").val().toString(),
            strFromDate: document.getElementById("FromDate").value,
            strToDate: document.getElementById("ToDate").value
        };
        if (document.getElementById("FromDate").value != "" && document.getElementById("ToDate").value != "" && document.getElementById("FromDate").value > document.getElementById("ToDate").value) {
            alert("Khoảng thời gian báo cáo không hợp lệ");
        } else {
            $.ajax({
                url: "GetLiquidationStats",
                data: JSON.stringify(empObj),
                contentType: "application/json;charset=utf-8",
                type: "POST",
                beforeSend: function () {
                    $("#ContentStatLiquidation").html("<h4>Loading...</h4>");
                },
                success: function (result) {
                    $("#ContentStatLiquidation").html(result)
                },
                error: function (errormessage) {
                    console.log("error");
                }
            });
        }
    };
    $(window).bind("pageshow", function () {
        $("#Library").val('');
        $("#Location").val('');
    });
    function reset() {
        $("#Library").val('');
        $("#LocationPrefix").val(''),
            $("#FromDate").val('');
        $("#ToDate").val('');
        $("#LiquidID").val('');
    }
</script>

