@{
    ViewBag.Title = "In nhãn";
    Layout = null;
}
@Scripts.Render("~/bundles/jquery")
<head>
    <title>@ViewBag.Title - FPT Libol</title>
</head>
<h4 style="margin : 1rem">In nhãn</h4>
<div style="margin:1rem;">
    <a href="/PrintLabel">Quay lại</a>
</div>

<form>
    <div class="form-row">
        <div class="col"><button class="btn btn-primary" type="button" onclick="previous();">Trang trước</button></div>
        <div class="col-6">
            <div class="form-row">
                <div class="col text-right"><label class="col-form-label">Trang</label></div>
                <div class="col-3"><input type="number" class="form-control" value="@ViewBag.CurrentPage" id="currentPage"/></div>
                <div class="col"><label class="col-form-label">trong tổng số <strong>@ViewBag.TotalPage</strong> trang</label></div>
            </div>
        </div>
        <div class="col text-right"><button class="btn btn-primary" type="button" onclick="next();">Trang tiếp</button></div>
    </div>
</form>
<input type="hidden" id="hiddenData" value="@ViewBag.Data" />
<button class="btn btn-primary" type="button" onclick="printDiv();">In</button>
<div id="divToShow">

</div>

<script>
    $(document).ready(function () {
        var data = document.getElementById("hiddenData").value;
        document.getElementById("divToShow").innerHTML = data;
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                var txtPage = "Page=" + getSearchParameters().Page;
                var currentPage = document.getElementById("currentPage").value;
                window.location.href = window.location.href.replace(txtPage, "Page=" + currentPage);
                return false;
            }
        });

        jQuery(function ($) {
            $('#currentPage').on('input', function (event) {
                if (event.which != 0) {
                    var txtPage = "Page=" + getSearchParameters().Page;
                    var currentPage = document.getElementById("currentPage").value;
                    window.location.href = window.location.href.replace(txtPage, "Page=" + currentPage);
                }
            });
        });
    });
    function printDiv() {
        var divToPrint = document.getElementById('divToShow');
        var newWin = window.open('', 'Print-Window');
        newWin.document.open();
        newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
        newWin.document.close();
        setTimeout(function () { newWin.close(); }, 10);
    }
    function getSearchParameters() {
        var prmstr = window.location.search.substr(1);
        return prmstr != null && prmstr != "" ? transformToAssocArray(prmstr) : {};
    }

    function transformToAssocArray(prmstr) {
        var params = {};
        var prmarr = prmstr.split("&");
        for (var i = 0; i < prmarr.length; i++) {
            var tmparr = prmarr[i].split("=");
            params[tmparr[0]] = tmparr[1];
        }
        return params;
    }
    function next() {
        var txtPage = "Page=" + getSearchParameters().Page;
        var currentPage = parseInt(getSearchParameters().Page) + 1;
        window.location.href = window.location.href.replace(txtPage, "Page=" + currentPage);
    }
    function previous() {
        var txtPage = "Page=" + getSearchParameters().Page;
        var currentPage = parseInt(getSearchParameters().Page) - 1;
        window.location.href = window.location.href.replace(txtPage, "Page=" + currentPage);
    }
</script>
