@using Libol.Models;
@{
    /**/

    ViewBag.Title = "Thanh lý";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        text-align: right;
    }

    .form-control {
        font-size: 0.8rem !important;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 70px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .modal-header {
        padding: 2px 16px;
        display: block;
    }

    .modal-body {
        padding: 2px 16px;
    }

    .modal-footer {
        padding: 2px 16px;
        display: block;
    }
</style>

<h4 style="margin-top: 20px;margin-bottom: 20px; color: red">Thanh lý</h4>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
@{
    List<SP_HOLDING_REMOVE_REASON_SEL_Result> listReason = ViewData["ListReason"] as List<SP_HOLDING_REMOVE_REASON_SEL_Result>; // list Reason
}

<div class="row">
    <div class="col-6">
        <div class="form-group row col-12">
            <strong>Nguồn thanh lý</strong>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" onclick="RemoveByMTL()" checked>Thanh lý theo đầu ấn phẩm
            </label>
        </div>
        <div class="form-group row col-12">
            <div class="form-group row col-12">
                <label class="control-label col-md-3 align-self-center">Thư viện: </label>
                <select class="form-control col-md-4" style="width:80% !important" onchange="OnchangeLibrary()" id="intLibID2">
                    <option value="-1">----- Chọn -----</option>
                    @foreach (var item in ViewBag.Library)
                    {
                        <option value="@item.ID">@item.Code</option>
                    }
                </select>
            </div>
            @*<div class="form-group row col-12">
                <label class="control-label col-md-3 align-self-center">Kho: </label>
                <select class="form-control col-md-4" id="intLocID2" disabled>
                    <option value="-1">----Chọn----</option>
                </select>
            </div>*@
            <label class="control-label col-md-3 align-self-center">Mã tài liệu: </label>
            <input type="text" class="form-control col-md-5" id="txtSDKCB" value="@Request.QueryString["Code"]" disabled>

            <div class="col-3"><button type="button" class="btn btn-primary" id="search" onclick="ShowSearchCodeForm()">Tìm</button></div>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="radio2">
                <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2" onclick="RemoveByDKCB()">Thanh lý theo ĐKCB
            </label>
        </div>
        <div class="form-group row col-12">
            <label class="control-label col-md-3 align-self-center">Thư viện: </label>
            <select class="form-control col-md-4" style="width:80% !important" onchange="OnchangeLibrary2()" id="intLibID" disabled>
                <option value="-1">----- Chọn -----</option>
                @foreach (var item in ViewBag.Library)
                {
                    <option value="@item.ID">@item.Code</option>
                }
            </select>
        </div>
        @*<div class="form-group row col-12">
            <label class="control-label col-md-3 align-self-center">Kho: </label>
            <select class="form-control col-md-4" id="intLocID" disabled>
                <option value="-1">----- Chọn -----</option>
            </select>
        </div>*@
        <div class="form-group row col-12">
            <label class="control-label col-md-3 align-self-center">Giá: </label>
            <input type="text" class="form-control col-md-4" id="intPrice" disabled>
        </div>
        <div style="padding-left:10px;">

            <div class="form-check">
                <label class="form-check-label" for="radio4">
                    @*<input type="radio" class="form-check-input" id="radio4" name="listradio" value="option4" onclick="GetDKCBbyTextArea()" checked disabled>*@Danh sách ĐKCB nhập bên dưới
                </label>
            </div>
            <div class="form-group row col-12">
                <textarea class="form-control col-md-6" id="fieldkcb" disabled></textarea>
            </div>

        </div>
        <hr />
        <div class="form-check">
            <label class="form-check-label" for="radio3">
                <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3" onclick="GetDKCBbyFile()">Danh sách ĐKCB lấy từ file
            </label>
        </div>
        @*<div class="form-group row col-12">

            <input name="uploadFile" type="file" class="form-control-file" disabled id="selectfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        </div>*@

        @*@using(Html.BeginForm("LiquidateByExcel", "Acquisiton",FormMethod.Post,new {enctype="multipart/form-data" }))
        {
            <span>Chọn tệp</span><input type="file" name="excelFile" class="form-control-file" disabled id="selectfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
            <br/>
            <input type="submit" value="Thanh Lý Theo File" class="btn btn-primary"/>
        }*@
        @using (Html.BeginForm("LiquidateByExcel", "Acquisition", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <span>Chọn tệp</span><input type="file" name="file" class="form-control-file" disabled id="selectfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
            <br />
            <p>(Click vào <a href="~/CopyNumberExcel/Mẫu thanh lý.xlsx">đây</a> để tải template)</p>
            <br />
            <input type="submit" value="Thanh Lý Theo File" class="btn btn-primary" />
        }
    </div>
    <div class="col-6">
        <div class="form-group row col-12">
            <strong>Thông tin thanh lý</strong>
        </div>
        <div class="form-group row col-12">
            <label class="control-label col-md-3 align-self-center">Mã thanh lý: </label>
            <input type="text" class="form-control col-md-4" id="txtLiquidate">
        </div>
        <div class="form-group row col-12">
            <label class="control-label col-md-3 align-self-center">Ngày thanh lý: </label>
            <input type="date" class="form-control col-md-4" id="DateLiquidate" value="@string.Format("{0:yyyy-MM-dd}", System.DateTime.Now)">
        </div>
        <div class="form-group row col-12">
            <label class="control-label col-md-3 align-self-center">Lý do: </label>
            <select name="listReason" id="listReason">
                @{
                    foreach (SP_HOLDING_REMOVE_REASON_SEL_Result item in listReason)
                    {
                        <option value="@item.ID">@item.REASON</option>
                    }
                }
            </select>
            <div class="col-3"><button type="button" class="btn btn-primary" id="btnReason" onclick="ShowSearchCodeForm2()">Thêm</button></div>
        </div>

        <div class="form-group row col-12">
            <label class="control-label col-md-5 align-self-center"></label>
            <div class="col" style="padding-left:25px;"><button type="button" class="btn btn-primary" id="btnLiquidate" onclick="Liquidate()">Thanh lý</button></div>
        </div>
    </div>
    <div id="SearchCodePopup" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h4 style="text-align: center">Tìm kiếm biểu ghi biên mục</h4>
            </div>
            <div class="modal-body">

                <table style="width: 100%">
                    <tr>
                        <td style="width: 38%;text-align: right"><label for="txtTitle2">Nhan đề chính</label></td>
                        <td style=""><input type="text" class="form-control" id="txtTitle2" style="width: 300px;margin-left: 20px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 38%;text-align: right"><label for="txtCopyNumber2">Đăng ký cá biệt</label></td>
                        <td style=""><input type="text" class="form-control" id="txtCopyNumber2" style="width: 300px;margin-left: 20px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 38%;text-align: right"><label for="txtAuthor2">Tác giả</label></td>
                        <td style=""><input type="text" class="form-control" id="txtAuthor2" style="width: 300px;margin-left: 20px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 38%;text-align: right"><label for="txtPublisher2">Nhà xuất bản</label></td>
                        <td style=""><input type="text" class="form-control" id="txtPublisher2" style="width: 300px;margin-left: 20px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 38%;text-align: right"><label for="txtYear2">Năm xuẩt bản</label></td>
                        <td style=""><input type="text" class="form-control" id="txtYear2" style="width: 300px;margin-left: 20px;"></td>
                    </tr>
                    <tr>
                        <td style="width: 38%;text-align: right"><label for="txtISBN2">ISBN</label></td>
                        <td style=""><input type="text" class="form-control" id="txtISBN2" style="width: 300px;margin-left: 20px;"></td>
                    </tr>
                </table>

            </div>
            <div style="text-align: center; border-top: 1px solid rgb(222, 226, 230);border-bottom: 2px solid black;padding:10px 0 10px 0;margin:10px 0 10px 0">
                <button class="btn btn-success " onclick="SearchItem()">Tìm</button>
                <button class="btn btn-primary" onclick="ResetFields()">Đặt lại</button>
                <button class="btn btn-danger" onclick="CloseSearchCodeForm()">Đóng</button>
            </div>

            <div id="result-search-table" style="display: none">
                <div style="background-color: lightgray;width: 100%;text-align:center">Tìm thấy <span id="numberOfCode" style="color: red">0</span> bản ghi biên mục</div>
                <table id="table" class="table table-striped table-bordered datatables">
                    <thead>
                        <tr>
                            <th>Nội dung</th>
                            <th>Mã tài liệu</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>

    </div>
    <div id="AddReason" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h4 style="text-align: center">Thêm lý do Thanh lý</h4>
            </div>
            <div class="modal2-body">

                <table style="width: 100%">
                    <tr>
                        <td style="width: 38%;text-align: right"><label for="reasonTL">Lý do:</label></td>
                        <td style=""><input type="text" class="form-control" id="reasonTL" style="width: 300px;margin-left: 20px;"></td>
                    </tr>

                </table>

            </div>
            <div style="text-align: center; border-top: 1px solid rgb(222, 226, 230);border-bottom: 2px solid black;padding:10px 0 10px 0;margin:10px 0 10px 0">
                <button class="btn btn-danger" onclick="AddReason()">Thêm</button>
                <button class="btn btn-danger" onclick="CloseSearchCodeForm2()">Đóng</button>
            </div>
        </div>
    </div>
    <div id="result-after-remove">
        <div style="background-color: lightgray;width: 100%;text-align:center">Tổng số mã đăng kí cá biệt: <input id="numberOfCode2" style="color: red" value="0" disabled></input> </div>
        <div style="background-color: lightgray;width: 100%;text-align:center">Số mã đăng kí cá biệt thanh lý thành công: <input id="numberOfCode3" style="color: red" value="0" disabled></input> </div>
        <div style="background-color: lightgray;width: 100%;text-align:center">Số mã đăng kí cá biệt đang được mượn: <input id="numberOfCode4" style="color: red" value="0" disabled></input> </div>
        <div style="background-color: lightgray;width: 100%;text-align:center">Số mã đăng kí cá biệt không tồn tại: <input id="numberOfCode5" style="color: red" value="0" disabled></input> </div>
        <table id="tableExists" class="table table-striped table-bordered datatables"></table>
        <table id="tableOnLoan" class="table table-striped table-bordered datatables"></table>


    </div>
</div>
<script>
    function OnchangeLibrary() {

        document.getElementById("txtSDKCB").disabled = false;
    }
    function OnchangeLibrary2() {

        document.getElementById("intPrice").disabled = false;
        document.getElementById("fieldkcb").disabled = false;
        //document.getElementById("radio3").disabled = false;
        //document.getElementById("radio4").disabled = false;
        //if (document.getElementById("radio3").checked == true) {
        //    document.getElementById("selectfile").disabled = false;
        //}
        //else if (document.getElementById("radio4").checked == true) {

        //}
    }

    function RemoveByMTL() {
        document.getElementById("intLibID2").disabled = false;
        document.getElementById("intPrice").disabled = true;
        document.getElementById("txtSDKCB").disabled = true;
        document.getElementById("search").disabled = false;
        document.getElementById("intLibID").disabled = true;
        document.getElementById("intLocID").disabled = true;
        document.getElementById("radio3").disabled = true;
        document.getElementById("radio4").disabled = true;
        document.getElementById("selectfile").disabled = true;
        document.getElementById("fieldkcb").disabled = true;


    }

    function RemoveByDKCB() {
        document.getElementById("txtSDKCB").value = "";
        document.getElementById("intLibID2").disabled = true;
        document.getElementById("txtSDKCB").disabled = true;
        document.getElementById("search").disabled = true;
        document.getElementById("intLibID").disabled = false;
        document.getElementById("intLocID").disabled = false;
        document.getElementById("intPrice").disabled = false;
        document.getElementById("radio3").disabled = false;
        document.getElementById("radio4").disabled = false;

        if (document.getElementById("radio3").checked == true) {
            document.getElementById("selectfile").disabled = false;
        }
        else if (document.getElementById("radio4").checked == true) {
            document.getElementById("fieldkcb").disabled = false;
        }

    }

    function GetDKCBbyFile() {
        document.getElementById("selectfile").disabled = false;


    }

    function GetDKCBbyTextArea() {
        document.getElementById("selectfile").disabled = true;
        document.getElementById("fieldkcb").disabled = false;
    }

    function ShowSearchCodeForm() {
        document.getElementById("SearchCodePopup").style.display = "block";
    }
    function CloseSearchCodeForm() {
        document.getElementById("SearchCodePopup").style.display = "none";
    }
    function ShowSearchCodeForm2() {
        document.getElementById("AddReason").style.display = "block";
    }
    function CloseSearchCodeForm2() {
        document.getElementById("AddReason").style.display = "none";
    }
    function ResetFields() {
        document.getElementById("txtTitle2").value = "";
        document.getElementById("txtCopyNumber2").value = "";
        document.getElementById("txtAuthor2").value = "";
        document.getElementById("txtPublisher2").value = "";
        document.getElementById("txtYear2").value = "";
        document.getElementById("txtISBN2").value = "";
        document.getElementById("result-search-table").style.display = "none";
    }

    function SearchItem() {

        var title = document.getElementById("txtTitle2").value;
        var copynumber = document.getElementById("txtCopyNumber2").value;
        var author = document.getElementById("txtAuthor2").value;
        var publisher = document.getElementById("txtPublisher2").value;
        var year = document.getElementById("txtYear2").value;
        var isbn = document.getElementById("txtISBN2").value;
        var displayForm = false;
        var table = $("#table").DataTable({



            ajax: {
                url: "/Acquisition/SearchItem",
                type: "POST",
                async: false,
                datatype: "json",
                data: {
                    "title": title,
                    "copynumber": copynumber,
                    "author": author,
                    "publisher": publisher,
                    "year": year,
                    "isbn": isbn,
                },
                dataSrc: function (data) {
                    if (data.Message != "") {
                        alert(data.Message);
                        displayForm = false;
                    } else {
                        displayForm = true;
                    }
                    return data.data; //access the data variable from the returned JSON
                }
            },

            columns: [
                { "data": "Title", "name": "Title" },
                {
                    "render": function (data, type, full, meta) {
                        return '<a href="/Acquisition/HoldingLocRemove?Code=' + full.Code + '">' + full.Code + '</a>';
                    }
                },

            ],
        });
        $('#numberOfCode').text(table.rows().count());
        if (displayForm) {
            document.getElementById("result-search-table").style.display = "block";
        }
        table.destroy();
    }
    function AddReason() {

        var reason = document.getElementById("reasonTL").value;

        $.ajax({
            url: "/Acquisition/AddReason",
            data: JSON.stringify({ reason }),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //alert('Bạn đã thanh lý sản phẩm thành công');
                if (result != "") {

                    $.alert({
                        title: 'Thông Báo !',
                        content: result.Success,

                    });

                    window.location.reload();
                }
            },
            error: function () {
                alert('Thêm lý do  không thành công');
            }

        });
    }
    //document.getElementById("intLibID2").value = getSavedValue("intLibID2");    // set the value to this input
    //document.getElementById("intLibID").value = getSavedValue("intLibID");   // set the value to this input
    //document.getElementById("txtSDKCB").value = getSavedValue("txtSDKCB");    // set the value to this input
    //document.getElementById("radio4").value = getSavedValue("radio4");   // set the value to this input
    //document.getElementById("radio3").value = getSavedValue("radio3");    // set the value to this input
    //document.getElementById("txtLiquidate").value = getSavedValue("txt_2");   // set the value to this input
    ///* Here you can add more inputs to set value. if it's saved */

    ////Save the value function - save it to localStorage as (ID, VALUE)
    //function saveValue(e) {
    //    var id = e.id;  // get the sender's id to save it .
    //    var val = e.value; // get the value.
    //    localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override .
    //}

    ////get the saved value function - return the value of "v" from localStorage.
    //function getSavedValue(v) {
    //    if (!localStorage.getItem(v)) {
    //        return "";// You can change this to your defualt value.
    //    }
    //    return localStorage.getItem(v);
    //}

    // Thanh Ly
    function Liquidate() {
        var Liquidate = document.getElementById("txtLiquidate").value;
        var DateLiquidate = document.getElementById("DateLiquidate").value;
        var Reason = $("#listReason :selected").val();
        var DKCB = document.getElementById("fieldkcb").value;
        var Copynumber = document.getElementById("txtSDKCB").value;
        var selectfile = document.getElementById("selectfile").value;
        var libID = document.getElementById("intLibID2").value;
        var libID2 = document.getElementById("intLibID").value;
        //var locID = document.getElementById("intLocID2").value;
        var Data;
        $.ajax({
            url: "/Acquisition/Liquidate",
            data: JSON.stringify({ Copynumber, DKCB, Liquidate, DateLiquidate, Reason, selectfile, libID, libID2 }),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //alert('Bạn đã thanh lý sản phẩm thành công');
                if (result != "") {
                    document.getElementById("numberOfCode2").value = result.total;
                    document.getElementById("numberOfCode3").value = result.totalSuccess;
                    document.getElementById("numberOfCode4").value = result.totalOnloan;
                    document.getElementById("numberOfCode5").value = result.totalExists;
                    //alert(result);
                    $.alert({
                        title: 'Thông Báo !',
                        content: result.Message,

                    });
                    $('#tableOnLoan').empty();
                    Data = result.ContentOnLoan;
                    var x = "<tr class='table-success text-center'><th class='px-md-2' scope='col'> mã ĐKCB đang mượn </th></tr>";
                    for (var i = 0; i < result.ContentOnLoan.length; ++i) {
                        x = x + "<tr><td class='text-center'><strong> " + result.ContentOnLoan[i] + "</strong></td></tr>";

                    }
                    $('#tableOnLoan').html(x);
                    $('#tableOnLoan').show(0);
                    $('#tableExists').empty();
                    Data = result.ContentExists;
                    var x = "<tr class='table-success text-center'><th class='px-md-2' scope='col'> mã ĐKCB không tồn tại trong kho </th></tr>";
                    for (var i = 0; i < result.ContentExists.length; ++i) {
                        x = x + "<tr><td class='text-center'><strong> " + result.ContentExists[i] + "</strong></td></tr>";

                    }
                    $('#tableExists').html(x);
                    $('#tableExists').show(0);

                }
            },
            error: function () {
                alert('Thanh lý sản phẩm  không thành công');
            }

        });
        //$.ajax({
        //    url: "/Acquisition/Liquidate2",
        //    data: JSON.stringify({ Copynumber, DKCB, Liquidate, DateLiquidate, Reason, selectfile }),
        //    type: "POST",
        //    contentType: "application/json;charset=utf-8",
        //    dataType: "json",
        //    success: function (result) {
        //        //alert('Bạn đã thanh lý sản phẩm thành công');
        //        if (result != "") {
        //            //alert(result);
        //            //$.alert({
        //            //    title: 'Thông Báo !',
        //            //    content: result,
        //            //});
        //            $('#table1').empty();
        //            Data = result;
        //            var x = "<tr class='table-success text-center'><th class='px-md-2' scope='col'> mã ĐKCB </th></tr>";
        //            for (var i = 0; i < result.length; ++i) {
        //                x = x + "<tr><td class='text-center'><strong> " + result[i] + "</strong></td></tr>";

        //            }
        //            $('#table1').html(x);
        //            $('#table1').show(0);

        //        }

        //    },
        //    error: function () {
        //        alert('Thanh lý sản phẩm  không thành công');
        //    }

        //});
    }



                                    //
</script>
