@using PagedList.Mvc
@model PagedList.IPagedList<OPAC.Models.FPT_SP_OPAC_GET_SEARCHED_INFO_BOOK_Result>
@using OPAC.Dao

@{
    ViewBag.Title = "Tìm kiếm sách - Thư viện trường đại học FPT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start body -->
<div class="container">
    <figure>
        <img class="pic-header" alt="Home Slide" src="~/AllContent/images/white-background.png" />
    </figure>
    <div class="navbar-home">
        <a href="@Url.Action("Home", "Home")" style="background-color: #D8491F"><i class="fa fa-home"></i> Trang chủ</a>
        <a href="@Url.Action("ViewIntroductionPage","Introduction")">Giới thiệu</a>
        <a href="@Url.Action("ViewProductPage","Product")">Sản phẩm</a>
        <a href="@Url.Action("ViewServicePage", "Service")">Dịch vụ</a>
        <a href="@Url.Action("ViewLibraryRegulation","LibraryRegulations")" style="width: 157px">Nội quy thư viện</a>
        <a href="@Url.Action("PatronAfterLoginPage", "InformationPatron")" style="width: 216px">Thông tin bạn đọc</a>
        @if (Session["ID"] == null)
        {
            <a href="@Url.Action("Login", "Login")" id="login" class="login"><i class="fa fa-sign-in"></i> Đăng nhập</a>
        }
        else
        {
            <a href="@Url.Action("Logout", "Login")" id="login" class="login"><i class="fa fa-sign-out"></i> Đăng xuất</a>
        }
    </div>
    <br>
    @{
        var numberResult = (int)TempData.Peek("CountResultList");
        int pageNo =  (int) TempData.Peek("PageNo");
        int maxItem = (int) ViewBag.ItemInOnePage;
        var keySearch = (string)ViewBag.Key;
        int count = ((pageNo - 1) * maxItem) + 1;

        if (Model.Count == 0)
        {
            <br />
            <h2 class="searching">Không tìm thấy kết quả cho từ khóa: <span style="color: blue; text-transform: none">@keySearch</span></h2>
        }
        else
        {
            <h2 class="searching">
                Kết quả tìm kiếm: tìm thấy <span style="color: red">@numberResult</span> biểu ghi cho từ khóa:
                <span style="color: blue; text-transform: none">@keySearch</span>
            </h2>
            <br>
            <div>
                <table border="1" style="background-color: #f5f5f5">
                    <tr>
                        <th class="info" style="width: 45px">STT</th>
                        <th class="info">Thông tin ấn phẩm</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td><b>@count</b></td>
                        <td style="padding: 7px">
                            <a href="@Url.Action("DetailBook", "SearchBook", new { itemID = item.ID })" class="news">
                                <b>@item.Title</b>
                            </a>
                            @if (!string.IsNullOrEmpty(item.Version))
                            {
                                <span>- @item.Version </span>
                            }
                            - @item.Publisher, @item.Year - @item.Author<br>
                            &nbsp;&nbsp;<i class="fa fa-angle-double-right" style="font-size:18px"></i>&nbsp;&nbsp;<b>
                                Mã ĐKCB:
                            </b>
                            @{
                                List<string> list = SearchDao.GetListCopyNumber(item.ID);
                                int countCopyNumber = 0;
                                foreach (var copyNum in list)
                                {
                                    <span>@copyNum&nbsp;&nbsp;</span>
                                    countCopyNumber++;
                                }
                                if (countCopyNumber == 18)
                                {
                                    <span><b>...</b></span>
                                }
                            }
                        </td>
                    </tr>
                        count++;
                    }
                </table>
            </div>
        }
    }
    <br />
    <div style="float: right">
        @Html.PagedListPager(Model, page => Url.Action("SearchBook", "SearchBook", new { page })) 
    </div>
    <br><br>
    <hr>
    <div>
        <a href="@Url.Action("Home", "Home")" class="back"><b><i class='fa fa-arrow-left'></i> Về trang chủ</b></a>
    </div>
    <br>
</div>
<br>
<!-- End body -->