
@{
    ViewBag.Title = "Chưa Kiểm Nhận";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        function goto(url) {
            window.location = url;
        }
        $(document).ready(function () {
            $("#selectpage").change(function () {
                var c = $("#selectpage").val();
                console.log(c);

                if (c == '1') {
                    window.location = '/Acquired/InRepository'
                } else if (c == '2') {
                    window.location = '/Acquired/LiquidationOrLost'
                } else if (c == '3') {
                    window.location = '/Acquired/NotYetChecked'
                }
            });
        });
    </script>

    <style>
        .caret {
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .caret::before {
                content: "\25B6";
                color: black;
                display: inline-block;
                margin-right: 6px;
            }

        .caret-down::before {
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        .caret2 {
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .caret2::before {
                content: "\25B6";
                color: black;
                display: inline-block;
                margin-right: 6px;
            }

        .caret2-down::before {
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        .nested {
            display: none;
        }

        .active {
            display: block;
        }


        #main {
            width: 1000px;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
        }

        #left {
            max-width: 30%;
            height: auto;
            background-color: none;
            float: left;
        }

        #content {
            max-width: 100%;
            min-height: initial;
            border: 1px solid #CDCDCD;
            float: none;
        }

        @@media(max-width: 600px) {
            left, content {
                width: 100%;
                height: 1000px;
            }
        }

        #myBtnTop {
            display: none; /* Hidden by default */
            position: fixed; /* Fixed/sticky position */
            bottom: 20px; /* Place the button at the bottom of the page */
            right: 120px; /* Place the button 30px from the right */
            z-index: 99; /* Make sure it does not overlap */
            border: none; /* Remove borders */
            outline: none; /* Remove outline */
            background-color: lightgray; /* Set a background color */
            color: white; /* Text color */
            cursor: pointer; /* Add a mouse pointer on hover */
            padding: 15px; /* Some padding */
            border-radius: 10px; /* Rounded corners */
            font-size: 18px; /* Increase font size */
        }

            #myBtnTop:hover {
                background-color: #000; /* Add a dark-grey background on hover */
            }

        #myBtnBottom {
            display: none; /* Hidden by default */
            position: fixed; /* Fixed/sticky position */
            bottom: 20px; /* Place the button at the bottom of the page */
            right: 30px; /* Place the button 30px from the right */
            z-index: 99; /* Make sure it does not overlap */
            border: none; /* Remove borders */
            outline: none; /* Remove outline */
            background-color: lightgray; /* Set a background color */
            color: white; /* Text color */
            cursor: pointer; /* Add a mouse pointer on hover */
            padding: 15px; /* Some padding */
            border-radius: 10px; /* Rounded corners */
            font-size: 18px; /* Increase font size */
        }

            #myBtnBottom:hover {
                background-color: #000; /* Add a dark-grey background on hover */
            }
    </style>

</head>
<body>
    <table class="table">
        <tr>
            <td style="max-width: 20%; height: auto;background-color: none;float: left;">
                <p style="background-color: azure">
                    Loại số liệu: <select id="selectpage">
                        <option value="1" >Trong kho</option>
                        <option value="2">Đã mất/Thanh lý</option>
                        <option value="3" selected>Chưa kiểm nhận</option>
                    </select>
                </p>

                <br />

                <p><b>Hệ thống lưu trữ</b></p>
                @{
                    var lic_locs = ViewBag.lic_locs;
                    var count = 0;
                }

                <ul>
                    @foreach (var item in lic_locs)
                    {
                        <li>
                            <div class="libid">
                                <span class="caret" id="@item.lib.ID">@item.lib.Code <b style="color:red">(@item.lib.Total.Total)</b> </span>
                                <div class="test">
                                    <ul class="nested">
                                        @{
                                            count++;
                                        }
                                        @foreach (var jtem in item.locs)
                                        {
                                            <li id="@jtem.ID">@jtem.Symbol <b style="color:red">(@jtem.Total.Total)</b></li>
                                            count++;
                                        }
                                    </ul>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </td>
            <td style="max-width: 80%; height: auto;background-color: none;float: left;" id="result"></td>
        </tr>
    </table>
    <button onclick="topFunction()" id="myBtnTop" title="Go to top">Top</button>
    <button onclick="botFunction()" id="myBtnBottom" title="Go to bottom">Bottom</button>
    <script>
        var toggler = document.getElementsByClassName("caret");
        var i;
        for (i = 0; i < toggler.length; i++) {
            toggler[i].addEventListener("click", function () {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
            });
        }

        $(document).ready(function () {

            $(".test li").click(function () {
                //delete checked checkbox list
                localStorage.removeItem("checkboxValues");

                var locname = this.id;
                console.log(locname);
                var page_index = "1";
                var record_per_page = "25";
                var state = "abc";

                $.ajax({
                    url: "NotYetCheckedPartialView",
                    data: {
                        'locname': locname, 'page_index': page_index,
                        'record_per_page': record_per_page, 'state': state
                    },
                    type: "POST",
                    success: function (result) {
                        $("#result").html(result)
                    },
                    error: function (errormessage) {
                        console.log("error");
                    }
                });
            });

            $(".libid span").click(function () {
                //delete checked checkbox list
                localStorage.removeItem("checkboxValues");

                var libname = this.id;
                console.log(libname);
                var page_index = "1";
                var record_per_page = "25";
                var state = "abc";

                $.ajax({
                    url: "NotYetCheckedPartialView",
                    data: {
                        'libname': libname, 'page_index': page_index,
                        'record_per_page': record_per_page, 'state': state
                    },
                    type: "POST",
                    success: function (result) {
                        $("#result").html(result)
                    },
                    error: function (errormessage) {
                        console.log("error");
                    }
                });
            });

        });
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtnTop").style.display = "block";
            } else {
                document.getElementById("myBtnTop").style.display = "none";
            }

            if (document.body.scrollTop < 20 || document.documentElement.scrollTop < 20) {
                document.getElementById("myBtnBottom").style.display = "block";
            }
            else if (document.body.scrollTop == document.height || document.documentElement.scrollTop == document.height) {
                document.getElementById("myBtnBottom").style.display = "none";
            }
            else {
                document.getElementById("myBtnBottom").style.display = "block";
            }

        }
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
        function botFunction() {
            document.documentElement.scrollTop = $(document).height(); // For Chrome, Firefox, IE and Opera
            document.getElementById("myBtnBottom").style.display = "none";
        }
    </script>
</body>



