
@{
    ViewBag.Title = "ViewCatalogue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-inline position-relative">
    <h4 style="margin:1rem"><mark>Xem Bản Ghi Dữ Liệu Biên Mục</mark></h4><br />
    <div class="position-absolute" style="right:15px;">
        <label><strong>Biểu Ghi Số</strong></label>
        <div class="form-group col-md-12 form-inline">
            <button type="button" id="btnSearch" class="btn btn-primary form-control">Lọc</button>&nbsp
            <button type="button" id="btnLastPre" class="btn btn-primary form-control">|<</button>&nbsp
            <button type="button" id="btnPre" class="btn btn-primary form-control"><</button>&nbsp
            <input id="txtIndex" class="form-control" type="number" min="0" max="@ViewBag.TotalCount" value="@ViewBag.TotalCount" onchange="Search($('#txtIndex').val())" /> /
            <input class="form-control" type="number" min="0" max="@ViewBag.TotalCount" value="@ViewBag.TotalCount" disabled>&nbsp
            <button type="button" id="btnNext" class="btn btn-primary form-control">></button>&nbsp
            <button type="button" id="btnMoveLast" class="btn btn-primary form-control">>|</button>
        </div>
    </div>
</div>


<div class="">

    <table class="table-bordered col-md-12" id="table">

        @*<tr class='table-success'><th scope='col'> Nhãn </th><th scope='col'> Chỉ Thị</th><th scope='col'> Nội Dung Trường</th></tr>*@

    </table>
</div>

<br>
<div class="form-group col-md-12 form-inline">
    <div class="form-row col-md-12 text-center">
        <div style="margin : auto">
            <button type="button" id="btnUpdate" class="btn btn-primary form-control">Sửa</button>
            <button type="button" class="btn btn-secondary form-control" id="btnShelf">Xếp Giá</button>
            <button type="button" id="btnReUse" class="btn btn-primary form-control">Dùng Lại</button>
        </div>
    </div>
</div>
@*<div id="container" class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center">
            <br>

            <h2>Tìm Kiếm Biên Mục</h2>
            <div class="info-form">
                <form action="" class="form-inlin justify-content-center">
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtCode" placeholder="Mã Tài Liệu"  >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtTT" placeholder="Nhan Đề Chính" >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtCN" placeholder="Mã ĐKCB" >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtISBN" placeholder="ISBN" >
                    </div>
                    <button type="button" class="btn btn-success " onclick="SearchView()">Tìm Kiếm</button>
                </form>
            </div>
            <br>
        </div>
    </div>
    </div>*@




<script>
        $('#btnSearch').click(function () {
            window.location.href = '/Catalogue/SearchViewCode' ;
        });
    $(document).ready(function () {
        var TotalCount = '@ViewBag.TotalCount'
        Search(TotalCount);
    });
        function test(ex) { alert(ex) }
        $(document).keypress(function (e) {
            var keycode = (e.keyCode ? e.keyCode : e.which);
            if (keycode == '13') {
                SearchView();
            }
        });


    function Search(index) {
        if (index < 1 || index > @ViewBag.TotalCount) {
            alert('Số thứ tự nhập không hợp lệ !');
        } else {
            $.ajax({
                url: "/Catalogue/ViewCataContentByIndex",
                type: "POST",
                data: JSON.stringify({ index: index }),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (inforList) {
                        var ItemCode;
                        $('#table').empty();
                    var x = "<tr class='table-success text-center'><th class='px-md-2' scope='col'> Nhãn </th><th class='px-md-2' scope='col'> Chỉ Thị</th><th scope='col'> Nội Dung Trường</th></tr>";
                        //$('#table').append("<tr class='table-success text-center'><th div class='px-md-2' scope='col'> Nhãn </th><th class='px-md-2' scope='col'> Chỉ Thị</th><th scope='col'> Nội Dung Trường</th></tr>")
                        for (var i = 0; i < inforList.length; ++i) {
                            x = x + "<tr><td class='text-center'><strong> " + inforList[i].FieldCode + "</strong></td><td class='text-center'>" + inforList[i].Ind + "</td><td>" + inforList[i].Content + "</td></tr>";
                            //$('#table').append("<tr><td class='text-center'><strong> " + inforList[i].FieldCode + "</strong></td><td class='text-center'>" + inforList[i].Ind + "</td><td>" +  inforList[i].Content+ "</td></tr>");
                            if (inforList[i].FieldCode === "001") {
                                ItemCode = inforList[i].Content;
                            }
                        }
                        $('#table').html(x);
                        //Add onClick for Button with Item infor
                        addEvent(ItemCode);

                },
                error: function (errorThrown) {
                    alert('Loading COntent Failed');
                }
            });
        }
        //debugger;

        //var strCode = $('#txtCode').val().trim();
        //var index = 4;

        }
        //function SearchView() {
        //    //debugger;

        //    var strCode = $('#txtCode').val().trim();
        //    var strCN = $('#txtCN').val().trim();
        //    var strTT = $('#txtTT').val().trim();
        //    var ISBN = $('#txtISBN').val().trim();
        //    $.ajax({
        //        url: "/Catalogue/SearchViewCode",
        //        type: "POST",
        //        data: JSON.stringify({ strCode: strCode, strCN: strCN, strTT: strTT, ISBN: ISBN }),
        //        contentType: "application/json;charset=utf-8",
        //        dataType: "json",
        //        success: function (inforList) {

        //            var ItemCode;

        //            var x = "<tr class='table-success text-center'><th class='px-md-2' scope='col'> Nhãn </th><th class='px-md-2' scope='col'> Chỉ Thị</th><th scope='col'> Nội Dung Trường</th></tr>";
        //            //$('#table').append("<tr class='table-success text-center'><th div class='px-md-2' scope='col'> Nhãn </th><th class='px-md-2' scope='col'> Chỉ Thị</th><th scope='col'> Nội Dung Trường</th></tr>")
        //            for (var i = 0; i < inforList.length; ++i) {
        //                x = x + "<tr><td class='text-center'><strong> " + inforList[i].FieldCode + "</strong></td><td class='text-center'>" + inforList[i].Ind + "</td><td>" + inforList[i].Content + "</td></tr>";
        //                //$('#table').append("<tr><td class='text-center'><strong> " + inforList[i].FieldCode + "</strong></td><td class='text-center'>" + inforList[i].Ind + "</td><td>" +  inforList[i].Content+ "</td></tr>");
        //                if (inforList[i].FieldCode === "001") {
        //                    ItemCode = inforList[i].Content;
        //                }
        //            }
        //            $('#table').html(x);
        //            //Add onClick for Button with Item infor
        //            addEvent(ItemCode);
        //        },
        //        error: function (errorThrown) {
        //            alert(errorThrown);
        //        }
        //    });


        //}

    function addEvent(ItemCode) {
        $('#btnShelf').click(function () {
            window.location.href = '/Shelf/Index?Code=' + ItemCode;
        });

        $.ajax({
            url: "/Catalogue/GetItemIDByCode",
            type: "POST",
            data: JSON.stringify({ ItemCode : ItemCode }),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (ItemID) {
                $('#btnUpdate').click(function () {
                    window.location.href = '/Catalogue/AddNewCatalogueDetail?ID=' + ItemID;
                });
                $('#btnReUse').click(function () {
                    window.location.href = '/Catalogue/AddNewCatalogue?ID=' + ItemID;
                });
            },
            error: function (errorThrown) {
                alert('Load ItemID Failed');
            }
        });


    }


    $('#btnLastPre').click(function () {
        $('#txtIndex').val('1');
        $('#txtIndex').change();
    });

    $('#btnPre').click(function () {
        if ($('#txtIndex').val() == 1) {
            alert('Bạn đang ở bản ghi đầu tiên !');
        } else {
            $('#txtIndex').val($('#txtIndex').val() - 1);
            $('#txtIndex').change();
        }



    });

    $('#btnNext').click(function () {
        if ($('#txtIndex').val() == @ViewBag.TotalCount) {
            alert('Bạn đang ở bản ghi cuối cùng !');
        } else {
            $('#txtIndex').val(parseInt($('#txtIndex').val(), 10) + 1);
            $('#txtIndex').change();
        }
    });

    $('#btnMoveLast').click(function () {
        $('#txtIndex').val(@ViewBag.TotalCount);
        $('#txtIndex').change();
        });




</script>
