<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FLib</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="971697194004-a3705bandc8uaqv5r0b64adm3ggcqu91.apps.googleusercontent.com">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Content/CustomJS/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/CustomJS/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/CustomJS/dataTables.buttons.min.js")
    @Scripts.Render("~/Content/CustomJS/buttons.bootstrap4.min.js")
    @Scripts.Render("~/Content/CustomJS/jszip.min.js")
    @Scripts.Render("~/Content/CustomJS/pdfmake.min.js")
    @Scripts.Render("~/Content/CustomJS/vfs_fonts.js")
    @Scripts.Render("~/Content/CustomJS/buttons.html5.min.js")
    @Scripts.Render("~/Content/CustomJS/buttons.print.min.js")
    @Scripts.Render("~/Content/CustomJS/buttons.colVis.min.js")
    @Scripts.Render("~/Content/CustomJS/jstree.min.js")
    <style>
        .body-content {
            font-size: small;
        }

        .form-control {
            font-size: small !important;
        }

        .dropdown-menu {
            font-size: small !important;
        }

        .navbar {
            padding: 0 !important;
        }

        #footer {
            position: fixed;
            left: 0;
            line-height: 20px;
            bottom: 0;
            width: 100%;
            text-align: center;
            background-color: #f05123;
            color: white;
        }

        a.nav-link {
            color: white !important;
            padding: 1rem !important;
        }

        .navbar-dark .navbar-brand {
            padding-left: 1rem;
        }

        .navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
            background-color: #d8491f !important;
        }

        a.nav-link:hover {
            background-color: #d8491f;
        }

        .dropdown:hover > .dropdown-menu {
            display: block;
            margin-top: 0;
        }

        .dropdown-item:hover > .dropdown-menu {
            display: block;
            margin-left: 0;
        }

        a {
            cursor: pointer;
        }
    </style>
    <script>
        $(function () {
            $(document).ajaxError(function (xhr, props) {
                if (props.status >= 200 && props.status < 300 || props.status === 304) {
                    //all is well
                } else {
                    var empObj = {
                        Path: props.responseText,
                        Error: props.responseJSON,
                        Message: "",
                        Track: ""
                    };
                    $.ajax({
                        url: "/Error/Log",
                        data: JSON.stringify(empObj),
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {


                        },
                        error: function (errormessage) {

                        }
                    });
                    window.location = "/Error";
                }
            });
        });

    </script>
    @*START------------SCRIPT FOR LOGIN FUNCTION*@
    <script>
        $(document).ready(function () {
            $(document).ajaxError(function (xhr, props) {
                if (props.status === 401) {
                    window.open("/Login");
                }
            });
        });

        function logout() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                //console.log('User signed out.');
            });

            $.ajax({
                url: "/Login/Logout",
                data: null,
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    window.location.href = "/Home";
                },
                error: function (errormessage) {

                }
            });
        }

        function GoTo(url) {
            window.location = url;
        }
    </script>
    @*END------------SCRIPT FOR LOGIN FUNCTION*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background-color:#f05123 !important">
                <a class="navbar-brand" href="/Home">FLib</a>
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown00" aria-haspopup="true" aria-expanded="false">Quản lý</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown00">
                                <a class="dropdown-item" href="/Management/Account">Quản lý tài khoản</a>
                                <a class="dropdown-item" href="/Management/ChangePassword">Đổi mật khẩu</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" aria-haspopup="true" aria-expanded="false">Bạn đọc</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">

                                <a class="dropdown-item" href="/Patron/Create">Tạo mới bạn đọc</a>
                                <a class="dropdown-item" href="/Patron/SearchPatronFilter">Tra cứu</a>
                                <a class="dropdown-item" href="/Patron/AddPatronByFile">Thêm bạn đọc theo lô</a>
                                <a class="dropdown-item" href="/Patron/DeletePatronsByList">Xóa bạn đọc theo lô</a>
                                <a class="dropdown-item" href="/Patron/AdjournPatronExpiredDateByList">Gia hạn bạn đọc theo lô</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown" @*onclick="dodajAktywne(this)*@ ">
                            @*<a class="nav-link" href="/Catalogue/MainTab">Biên mục</a>*@
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" aria-haspopup="true" aria-expanded="false">Biên mục</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown02">

                                <a class="dropdown-item" href="/Catalogue/AddNewCatalogue">Tạo mới biên mục</a>
                                <a class="dropdown-item" href="/Catalogue/SearchCodeNumber">Sửa bản ghi biên mục</a>
                                <a class="dropdown-item" href="/Catalogue/ViewCatalogue">Xem Bản Ghi Biên Mục</a>
                                <a class="dropdown-item" href="/Catalogue/DeleteCatalogue">Xóa Bản Ghi Biên Mục</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" aria-haspopup="true" aria-expanded="false">Mượn trả</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown03">
                                <a class="dropdown-item" href="/CheckOut">Ghi mượn</a>
                                <a class="dropdown-item" href="/CheckIn">Ghi trả</a>
                                <a class="dropdown-item" href="/Renew/Renew">Gia hạn</a>
                                <a class="dropdown-item" href="/OverdueList/OverdueList">Quá hạn</a>
                                <a class="dropdown-item" href="/Circulation/LockPatronStats">Khóa thẻ</a>
                                <a class="dropdown-item" href="/OrderBorrowed/OrderBorrowed">DS đặt mượn</a>
                                <div class="dropdown-item dropright">
                                    <a class="dropdown-toggle">Báo cáo </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" onclick="GoTo('/Circulation/ReportLoanCopy')">Báo cáo Từng mượn</a>
                                        <a class="dropdown-item" onclick="GoTo('/Circulation/ReportOnLoanCopy')">Báo cáo Đang mượn</a>
                                    </div>
                                </div>
                                <div class="dropdown-item dropright">
                                    <a class="dropdown-toggle">Thống kê </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" onclick="GoTo('/Circulation/StatisticYear')">Thống kê hàng năm</a>
                                        <a class="dropdown-item" onclick="GoTo('/Circulation/StatisticMonth')">Thống kê hàng tháng</a>
                                        <a class="dropdown-item" onclick="GoTo('/Circulation/StatisticTopPatron')">Thống kê top bạn đọc</a>
                                        <a class="dropdown-item" onclick="GoTo('/Circulation/StatisticTopCopy')">Thống kê top ấn phẩm</a>
                                        <a class="dropdown-item" onclick="GoTo('/Circulation/StatisticPatronGroup')">Thống kê nhóm bạn đọc</a>
                                        <a class="dropdown-item" onclick="GoTo('/Circulation/CirStatisticTop20')">Thống kê top 20</a>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" aria-haspopup="true" aria-expanded="false">Bổ sung</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="/Shelf/Index">Xếp giá</a>
                                <a class="dropdown-item" href="/PrintBarcode">In mã vạch</a>
                                <a class="dropdown-item" href="/PrintLabel">In nhãn</a>
                                <div class="dropdown-item dropright">
                                    <a class="dropdown-toggle">Báo cáo </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" onclick="GoTo('/AcquireReport/Index')">Báo cáo bổ sung</a>
                                        <a class="dropdown-item" onclick="GoTo('/AcquireReport/RecomendReport')">Báo cáo đề nghị</a>
                                        <a class="dropdown-item" onclick="GoTo('/AcquireReport/LiquidationStats')">Báo cáo ĐKCB bị hủy</a>
                                        <a class="dropdown-item" onclick="GoTo('/AcquireReport/SpecializedReport')">Báo cáo Chuyên ngành</a>
                                    </div>
                                </div>
                                <div class="dropdown-item dropright">
                                    <a class="dropdown-toggle">Thống kê </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" onclick="GoTo('/AcquireReport/StatisticYear')">Thống kê hàng năm</a>
                                        <a class="dropdown-item" onclick="GoTo('/AcquireReport/StatisticMonth')">Thống kê hàng tháng</a>
                                        <a class="dropdown-item" onclick="GoTo('/AcquireReport/StatisticTop20')">Thống kê top 20</a>
                                        <a class="dropdown-item" onclick="GoTo('/AcquireReport/LanguageStat')">Thống kê theo mã ngôn ngữ</a>
                                        <a class="dropdown-item" href="#" onclick="GoTo('/AcquireReport/StatTaskbar')">Thống kê danh mục sách nhập</a>
                                        <!-- <a class="dropdown-item" onclick="GoTo('/AcquireReport/InventoryReport')">Kiểm kê</a>-->
                                    </div>
                                </div>
                                <div class="dropdown-item dropright">
                                    <a class="dropdown-toggle">Kho </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" onclick="GoTo('/Acquired/InRepository')">Xếp giá trong kho</a>
                                        <a class="dropdown-item" onclick="GoTo('/Acquired/LiquidationOrLost')">Xếp giá thanh lý hoặc mất</a>
                                        <a class="dropdown-item" onclick="GoTo('/Acquired/NotYetChecked')">Xếp giá chưa kiểm nhận</a>

                                    </div>
                                </div>
                                <a class="dropdown-item" href="/Acquisition/InventoryReport">Kiểm kê</a>

                                <a class="dropdown-item" href="/Acquisition/HoldingLocRemove">Thanh lý</a>
                                <a class="dropdown-item" href="/Circulation/CopyNumberLiquidationStats">Kiểm tra thanh lý</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Thiết đặt</a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link" href=" http://localhost:58780/ " target="_blank"> OPAC </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" http://localhost:58780//Notification/CreateNotification " target="_blank"> Đăng Tin </a>
                        </li>
                    </ul>
                    <a class="nav-link" href="#" onclick="logout();">Đăng xuất</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="body-content" style="min-height: 610px">
        @RenderBody()
    </div>
    <div style="bottom: 0;">
        <hr />
        <footer style="margin-left: 15px;">
            <p>&copy; @DateTime.Now.Year - FPT Library Online Group</p>
        </footer>
    </div>
    <div class="g-signin2" data-onsuccess="onSignIn" style="display:none;"></div>

</body>
</html>
